<!--   Welcome Section   -->

<div class = "welcome-container">
	<div class = "welcome-layout">
		<ul class = "welcome-text hidden">
			<li>B</li>
			<li>E</li>
			<li>R</li>
			<li>S</li>
			<li>E</li>
			<li>Y</li>	
		</ul>
		<svg id="line" viewBox="-1.114 -0.512 219 66">
			<path fill="none" stroke="#0099ff" stroke-width="5" stroke-miterlimit="14" d="M214.549,32.921
			c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
			C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"/>
		</svg>
		<ul class = "welcome-text-sub hidden">
			<li>"Engineered Solutions"</li>
		</ul>
	</div>
</div>

<!--   Preloader   -->

<!--   <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
</div> -->

<!--   Sliders   -->

<div class="slider white">
	<ul class="slides">
		<li>
			<img id="slide1" src="../../images/belarus3.jpg"> <!-- random image -->
			<div class="caption left-align">
				<h5 class="slide-text">Кроноспан-Сморгонь подписал соглашение с BERSEY в Беларуси</h3>
				<h6 class="light grey-text text-lighten-3 slide-subtext">Строительство электростанции (60 МВт) началось</h5>
			</div>
		</li>
		<li>
			<img id="slide2" src="../../images/belarus.jpg">
			<div class="caption left-align">
				<h5 class="slide-text">Пинскдрев подписал сделку с BERSEY</h3>
				<h6 class="light grey-text text-lighten-3 slide-subtext">Строительство начнется в ближайшее время.</h5>
			</div>
		</li>
		<li>
			<img id="slide3" src="../../images/slide3.jpg"> 
			<div class="caption right-align">
				<h5 class="slide-text">Текущие проекты в Румынии и России</h3>
				<h6 class="light grey-text text-lighten-3 slide-subtext">Электростанции</h5>
			</div>
		</li>
		<li>
			<img id="slide4" src="../../images/slide4.jpg"> 
			<div class="caption center-align">
				<h5 class="slide-text">Совместное исследование с лабораторией CNRS во Франции</h3>
				<h6 class="light grey-text text-lighten-3 slide-subtext">Инновационные Проекты</h5>
			</div>
		</li>
	</ul>
</div>

<!--   About Us Section  -->

<div class="white container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<!-- <h3><i class="mdi-content-send brown-text"></i></h3> -->
				<h5 class="center">ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ СИСТЕМ ТЕПЛОГЕНЕРАЦИИ</h5>
				<br>
				<p class="justify-align light">Bersey Limited Company, основанная в 1979 году, является инжиниринговой компанией, обслуживающей различные обрабатывающие отрасли, где требуется производство тепла. Bersey разрабатывает и поставляет системы производства тепла «под ключ», работающие на нефти, газе, отходах, биомассе, нефти и газе. Нашим главным приоритетом является предоставление нашим клиентам "инженерных решений", а также удовлетворение качеством в соответствии с действующими международными кодексами и стандартами. </p>
				<p class="justify-align light">Наши надежные технические и технические знания в сочетании с опытом, накопленным за последние 40 лет, сделали нас надежным партнером по решениям в различных проектах. Сегодня Bersey производит различные приложения для основных отраслей промышленности, таких как деревообрабатывающая и деревообрабатывающая промышленность, целлюлозно-бумажная промышленность, химическая промышленность, текстильная промышленность, заводы по производству растительного масла, производство пластмасс и упаковки.</p>
			</div>
		</div>
	</div>
</div>


<!--   Parallax Image Section FIRE  -->

<div class="parallax-container valign-wrapper">
	<div class="container">
		<div class="row">
			<h5 class="header col s12 white-text text-lighten-3" style="letter-spacing: 1px;">Ведущий производитель систем производства тепла в Турции</h4>
		</div>
	</div>
	<div class="parallax"><img id="fire-img" src="../../images/factory.jpg" alt="Unsplashed fire"></div>
</div>

<!--   Icon Section   -->

<div class="container white">
	<div class="section">
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center grey-text text-darken-2"><i class="material-icons">flash_on</i></h2>
					<h5 class="center">Лидер отрасли</h5>
					<p class=" justify-align light">Bersey - дальновидная фирма, работающая с лучшими партнерами и лучшими поставщиками. Благодаря нашему многолетнему опыту мы гордимся многими успешными установками с известными клиентами. Мы имеем репутацию за превосходство и надежность в отрасли.</p>
				</div>
			</div>	
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center grey-text text-darken-2"><i class="material-icons">person</i></h2>
					<h5 class="center">Ориентированный на клиента</h5>
					<p class=" justify-align light">Нашим первым шагом всегда является определение точных потребностей наших клиентов в энергии и доступности топлива. Мы хотим глубоко понять ваш производственный процесс, чтобы предложить вам индивидуальные решения.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center grey-text text-darken-2"><i class="material-icons">access_time</i></h2>
					<h5 class="center">Своевременная доставка проекта</h5>
					<p class=" justify-align light">Берси имеет опыт в управлении проектами для систем производства тепла, предлагающих услуги «под ключ». Мы согласовываем все аспекты проектов с нашими клиентами для выполнения проектов в срок и в рамках бюджета.</p>
				</div>
			</div>
		</div>		
	</div>
</div>



<!--   Parallax Image Section HORIZON  -->

<div class="parallax-container valign-wrapper">
	<div class="section">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 white-text text-lighten-5" style="letter-spacing: 1px;">Экспорт в Россию, Беларусь, Румынию и на Ближний Восток</h4>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="../../images/horizon.jpg" alt="Unsplashed horizon"></div>
</div>

<!--   FOOTER  -->

<footer class="page-footer grey darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="grey-text text-lighten-2">Contact</h5>
				<p class="grey-text text-lighten-1">BERSEY SINAI ve TIBBI CIHAZLAR IMALAT ve TIC. LTD. STI.</p>
				<p class="grey-text text-lighten-1">Söğütlüçeşme Mah. Halkalı Cad. No:257 Bina:4 Sefaköy, 34295</p>
				<p class="grey-text text-lighten-1">T: +90 212 693 74 74</p>
				<p class="grey-text text-lighten-1">F: +90 212 495 48 50</p>
				<p class="grey-text text-lighten-1"><a href="mailto:info@berseykazan.com">info@berseykazan.com</a></p>
			</div>
			<div class="col l3 s12">
				<h5 class="grey-text text-lighten-2">Legal</h5>
				<ul>
					<li><a class="grey-text text-lighten-1" href="/ru/terms">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="grey-text text-lighten-2">Follow Us</h5>
				<ul>
					<li><a class="white-text" href="https://www.linkedin.com/company-beta/10671411/" target=_blank><img id="linkedin" src=../../images/linkedin.png></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>













