<div class = "container">
    <div class="section">
        <div class="row">
            <div class="col l10">
            <br>
            <br>
            <br>
            <br>
                <h5>Мы предоставляем техническое совершенство для управления сложными проектами для наших клиентов.</h5>
                <div class="divider blue-grey darken-4"></div>
                <br>
                <br>
                <p>BERSEY Ltd., основанная в 1979 году, является инжиниринговой компанией, обслуживающей различные обрабатывающие отрасли, где требуется производство тепла.</p>
                <br>
                <p>Мы проектируем и поставляем промышленные системы производства тепла - все по индивидуальному заказу - на мазуте, газе, отходах, биомассе, нефти и газе. Нашим главным приоритетом является поставка «разработанных решений» нашим клиентам вместе с полным производством и удовлетворением качества в соответствии с действующими международными кодексами и стандартами.</p>
                <br>
                <p>Bersey со штаб-квартирой в Стамбуле осуществляет текущие проекты в Турции, Белоруссии, Румынии, Болгарии и России, устанавливая промышленные установки для выработки тепла, работающие на древесных отходах, биомассе и ископаемом топливе.</p>
                </p>
                <br>
                <p>В рамках проекта «Исследования и разработки в области газификации бурого угля», направленного на повышение эффективности сжигания, мы сотрудничали с учеными из университетов МЕТУ, МСЭ, Мраморного моря, Эгейского моря и Испарта, а также с французскими лабораториями CNRS. Мы также сотрудничаем со Steinmüller Engineering и Thermax для разработки паровых котлов большой мощности.</p>
                <br>
                <p>В ответ на запросы наших клиентов мы всегда стремимся реализовывать проекты с повышенной эффективностью, экономичностью и в гармонии с экологией.</p>
            </div>
        </div>
    </div>
</div>

