<div class="references-container">
<br></br>
<br></br>
<br></br>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header referencesheader blue-text white"><a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_down</i></a>ТЕПЛОВЫЕ НЕФТЯНЫЕ КОТЛЫ</div>
						<div class="collapsible-body referencesbody">
							<table class ="striped responsive-table bordered centered">
								<thead>
									<tr>
										<th>Компания</th>
										<th>год</th>
										<th>вместимость(MW)</th>
										<th>топливо</th>
										<th>Расположение</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="costumers">KRONOSPAN GROUP MDF PLANT </td>
										<td>2017</td>
										<td>67</td>
										<td>Wood Waste</td>
										<td>Belarus</td>
									</tr>
									<tr>
										<td class="costumers">KRONOSPAN GROUP MDF PLANT </td>
										<td>2017</td>
										<td>50</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE MDF PLANT </td>
										<td>2017</td>
										<td>67</td>
										<td>Wood Waste</td>
										<td>Romania</td>
									</tr>
									<tr>
										<td class="costumers">KADUY PLYWOOD PLANT </td>
										<td>2015</td>
										<td>8.25</td>
										<td>Wood Waste</td>
										<td>Belarus</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE MDF 2</td>
										<td>2015</td>
										<td>45</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">CAMSAN ORMAN URUNLERI</td>
										<td>2015</td>
										<td>60</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD ORMAN URUNLERI</td>
										<td>2015</td>
										<td>27</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD ORMAN URUNLERI</td>
										<td>2015</td>
										<td>50</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KRONOSPAN SFC KASTAMONU</td>
										<td>2014</td>
										<td>50</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE MDF PLANT</td>
										<td>2014</td>
										<td>99</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">SVEZA HOLDING PLYWOOD PLANT</td>
										<td>2013</td>
										<td>8.2</td>
										<td>Natural Gas</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">FOUMANAT PARTICLE BOARD</td>
										<td>2012</td>
										<td>16</td>
										<td>Wood + N.Gas</td>
										<td>Iran</td>
									</tr>
									<tr>
										<td class="costumers">ISIK AHSAP ORMAN URUNLERI</td>
										<td>2013</td>
										<td>9</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">BORISOVDREV MDF PLANT</td>
										<td>2012</td>
										<td>9</td>
										<td>Natural Gas</td>
										<td>Belarus</td>
									</tr>
									<tr>
										<td class="costumers">BORISOVDREV MDF PLANT</td>
										<td>2012</td>
										<td>9</td>
										<td>Natural Gas</td>
										<td>Belarus</td>
									</tr>
									<tr>
										<td class="costumers">BORISOVDREV MDF PLANT</td>
										<td>2012</td>
										<td>17</td>
										<td>Natural Gas</td>
										<td>Belarus</td>
									</tr>
									<tr>
										<td class="costumers">BORISOVDREV MDF PLANT</td>
										<td>2012</td>
										<td>17</td>
										<td>Natural Gas</td>
										<td>Belarus</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE MDF PLANT</td>
										<td>2012</td>
										<td>44</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD ORMAN URUNLERI A.Ş.</td>
										<td>2012</td>
										<td>27</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YANBU WASTE RECOVERY SYSTEMS</td>
										<td>2011</td>
										<td>2.4</td>
										<td>Fuel Oil</td>
										<td>Saudi Arabia</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE </td>
										<td>2011</td>
										<td>75</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE </td>
										<td>2011</td>
										<td>10</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ILIM TIMBER PLYWOOD PLANT </td>
										<td>2011</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">ILIM TIMBER PLYWOOD PLANT </td>
										<td>2011</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE MDF PLANT</td>
										<td>2011</td>
										<td>66</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE MDF PLANT</td>
										<td>2011</td>
										<td>7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE BOARD PLANT</td>
										<td>2011</td>
										<td>28</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ORMA ORMAN URUNLERI </td>
										<td>2010</td>
										<td>25</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">VEZIRAGAC ORMAN URUNLERI </td>
										<td>2010</td>
										<td>11.7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ARGUS ZFK - EKATERINBURG</td>
										<td>2010</td>
										<td>7</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">SVEZA HOLDING - MANTUROVA</td>
										<td>2010</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">AFK KEMEROVO PLYWOOD PLANT</td>
										<td>2009</td>
										<td>28</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">TEVERPAN MDF LEVHA </td>
										<td>2009</td>
										<td>26</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEVERPAN MDF LEVHA </td>
										<td>2009</td>
										<td>12.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SBS ORMAN URUNLERI </td>
										<td>2009</td>
										<td>11.7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SVEZA HOLDING - NOVATOR</td>
										<td>2009</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ZELENEDOLSK PLYWOOD AND FURNITURE</td>
										<td>2009</td>
										<td>4.8</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ SUNTA MDF A.Ş.</td>
										<td>2009</td>
										<td>8.7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE </td>
										<td>2009</td>
										<td>2.32</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD A.Ş.</td>
										<td>2009</td>
										<td>0.7</td>
										<td>Natural Gas</td>
										<td>Georgia</td>
									</tr>
									<tr>
										<td class="costumers">PARFINO PLYWOOD PLANT</td>
										<td>2008</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD A.Ş.</td>
										<td>2008</td>
										<td>5.8</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">IMAL SPA</td>
										<td>2008</td>
										<td>2.32</td>
										<td>Natural Gas</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">UPG PLYWOOD PLANT</td>
										<td>2007</td>
										<td>8.5</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE</td>
										<td>2007</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE </td>
										<td>2007</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">URAL VENEER LTD</td>
										<td>2007</td>
										<td>4.4</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">INZENSKY PLYWOOD ULYANOVSK</td>
										<td>2007</td>
										<td>3.5</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">LESSOPLAST PLC TROJAN </td>
										<td>2007</td>
										<td>3.5</td>
										<td>Wood Waste</td>
										<td>Serbia</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE A.Ş.</td>
										<td>2007</td>
										<td>7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE A.Ş.</td>
										<td>2007</td>
										<td>7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEVERPAN MDF A.Ş.</td>
										<td>2006</td>
										<td>11.7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>2006</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>2006</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>2006</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">EUROFOREST PLYWOOD</td>
										<td>2006</td>
										<td>5.8</td>
										<td>Wood Waste</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ SUNTA MDF A.Ş.</td>
										<td>2006</td>
										<td>10.5</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">IMPULS LIMITED COMPANY</td>
										<td>2006</td>
										<td>2.32</td>
										<td>Natural Gas</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">IMPULS LIMITED COMPANY</td>
										<td>2006</td>
										<td>2.32</td>
										<td>Natural Gas</td>
										<td>Russia</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE A.Ş.</td>
										<td>2005</td>
										<td>7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEVERPAN MDF A.Ş.</td>
										<td>2005</td>
										<td>4.65</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">CAĞ ORMAN ÜRÜNLERİ A.Ş.</td>
										<td>2005</td>
										<td>3.5</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">GIZIR AHŞAP A.Ş.</td>
										<td>2005</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">DENVER IMPORT EXPORT</td>
										<td>2005</td>
										<td>1.2</td>
										<td>Natural Gas</td>
										<td>Ukraine</td>
									</tr>
									<tr>
										<td class="costumers">HAKAN ORMAN URUNLERI A.Ş.</td>
										<td>2005</td>
										<td>0.45</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD A.Ş.</td>
										<td>2004</td>
										<td>21</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SFC ENTEGRE A.Ş.</td>
										<td>2004</td>
										<td>11.7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ELIF PLASTIK A.Ş.</td>
										<td>2004</td>
										<td>1.7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ELIF PLASTIK A.Ş.</td>
										<td>2004</td>
										<td>1.7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>2003</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>2003</td>
										<td>5.8</td>
										<td>Wood Waste</td>
										<td>Bulgaria</td>
									</tr>
									<tr>
										<td class="costumers">TEVER ORMAN URUNLERI A.Ş.</td>
										<td>2002</td>
										<td>7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ONDULINE AVRASYA A.Ş.</td>
										<td>2002</td>
										<td>2.32</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">DIVAPAN ENTEGRE A.Ş.</td>
										<td>2001</td>
										<td>8.2</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">DIVAPAN ENTEGRE A.Ş.</td>
										<td>2000</td>
										<td>5.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">AROMATIK KIMYA SANAYI A.Ş.</td>
										<td>2000</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TUTAN BANT A.Ş.</td>
										<td>2000</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YONTAS YONGA A.Ş.</td>
										<td>1999</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEKSUN BAKÜ YAĞ FABRİKASI</td>
										<td>1999</td>
										<td>1.2</td>
										<td>Natural Gas</td>
										<td>Azerbaijan</td>
									</tr>
									<tr>
										<td class="costumers">NOYA ORMAN URUN. A.Ş.</td>
										<td>1999</td>
										<td>2.32</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOROZO AMBALAJ A.Ş.</td>
										<td>1998</td>
										<td>2.32</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TUTSAN POLIMER A.Ş.</td>
										<td>1998</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">PAKSOY SANAYI A.Ş.</td>
										<td>1998</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">GUNAY YAG LTD </td>
										<td>1998</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SUMAS TAHTA VE MOBILYA </td>
										<td>1997</td>
										<td>1.7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KUROGULLARI YAPI A.Ş.</td>
										<td>1997</td>
										<td>1.7</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD A.Ş.</td>
										<td>1997</td>
										<td>4.65</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ONDULINE AVRASYA A.Ş.</td>
										<td>1997</td>
										<td>1.8</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEVERPAN MDF A.Ş.</td>
										<td>1997</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">AROMATIK KIMYA A.Ş.</td>
										<td>1997</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">IZOCAM</td>
										<td>1997</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>1996</td>
										<td>5.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SELOLIT LIF LEVHA A.Ş.</td>
										<td>1996</td>
										<td>4.65</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">PILSA PLASTIK SANAYI A.Ş.</td>
										<td>1996</td>
										<td>2.32</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">OZER TEKSTIL LTD </td>
										<td>1996</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">BASMACI LTD.</td>
										<td>1996</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SFC ENTEGRE A.Ş.</td>
										<td>1995</td>
										<td>5.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SFC ENTEGRE A.Ş.</td>
										<td>1995</td>
										<td>5.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEVER MDF A.Ş.</td>
										<td>1995</td>
										<td>1.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEVERPAN MDF A.Ş.</td>
										<td>1995</td>
										<td>1.8</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SARISAKAL TARIM A.Ş.</td>
										<td>1995</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOROZO AMBALAJ A.Ş.</td>
										<td>1995</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">BIL-YAP MAKINE A.Ş.</td>
										<td>1995</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>1994</td>
										<td>5.3</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KASTAMONU ENTEGRE A.Ş.</td>
										<td>1994</td>
										<td>5.3</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">DEVREKTES DEVREK A.Ş.</td>
										<td>1994</td>
										<td>2.9</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOROZO AMBALAJ A.Ş.</td>
										<td>1994</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">DOGAN ERDİL YAĞ</td>
										<td>1994</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ORMA ENTEGRE A.Ş.</td>
										<td>1993</td>
										<td>5.3</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ORMA ENTEGRE A.Ş.</td>
										<td>1993</td>
										<td>3.5</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TEKEL AMBALAJ</td>
										<td>1993</td>
										<td>1.2</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KUROGULLARI A.Ş.</td>
										<td>1993</td>
										<td>1.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">THE ARAB NEBATI YAĞ</td>
										<td>1993</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>JORDAN</td>
									</tr>
									<tr>
										<td class="costumers">GÜNEYDOĞU YAĞ A.Ş.</td>
										<td>1993</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ARAL TEKSTIL LTD.</td>
										<td>1993</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SERKIM BOYA LTD.</td>
										<td>1993</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ADIM YAPI LTD.</td>
										<td>1992</td>
										<td>1</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TURKUAZ TEKSTIL LTD.</td>
										<td>1992</td>
										<td>2.9</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YAPICI AYAKKABI SANAYİ</td>
										<td>1992</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">BILSAN PLASTIK LTD.</td>
										<td>1992</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">PAKSOY SANAYI A.Ş.</td>
										<td>1992</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">PAKSOY SANAYI A.Ş.</td>
										<td>1992</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KARAMEHMETLER OIL PLANT</td>
										<td>1992</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ROTOPAK MATBAACILIK AMBALAJ </td>
										<td>1991</td>
										<td>2.32</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">YONSAN YONGA A.Ş.</td>
										<td>1991</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">VOLKAN BOYA LTD.</td>
										<td>1991</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">PAFLAR GIDA A.Ş.</td>
										<td>1991</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SERFLEKS A.Ş.</td>
										<td>1990</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">EMEK YAĞ A.Ş.</td>
										<td>1990</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">MINA YAĞ A.Ş.</td>
										<td>1990</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOROZO AMBALAJ A.Ş.</td>
										<td>1990</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ORDU YAĞ A.Ş.</td>
										<td>1990</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">DEMIRCANLAR YAĞ A.Ş.</td>
										<td>1990</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SFC ENTEGRE A.Ş.</td>
										<td>1989</td>
										<td>3.5</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SETAS SIMAV A.Ş.</td>
										<td>1989</td>
										<td>1.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">TRAKYA YAĞLI KOOP.</td>
										<td>1989</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ROTOPAK MATBAACILIK A.Ş.</td>
										<td>1989</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ARI YAĞ A.Ş.</td>
										<td>1989</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KIMA KIMYA A.Ş.</td>
										<td>1989</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ROTOPAK MATBAACILIK A.Ş.</td>
										<td>1988</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SEKA KAĞIT A.Ş.</td>
										<td>1988</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">EMIN KIMYASALLARI</td>
										<td>1988</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOROZO AMBALAJ A.Ş.</td>
										<td>1988</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">BAFAY YAĞ A.Ş.</td>
										<td>1988</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">GÜVEN KİMYA A.Ş.</td>
										<td>1986</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">CAN ŞEKERLEME A.Ş.</td>
										<td>1986</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ALFA GIDA A.Ş.</td>
										<td>1986</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">BUZCULAR YAĞ A.Ş.</td>
										<td>1985</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">ANTALYA YAĞ A.Ş.</td>
										<td>1985</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SANCAK TEKSTİL LTD.</td>
										<td>1985</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">İZİMTAŞ İNŞAAT A.Ş.</td>
										<td>1985</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOSKA HELVACISI</td>
										<td>1985</td>
										<td>0.7</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SUNTASAN A.Ş.</td>
										<td>1984</td>
										<td>1.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SUNTASAN A.Ş.</td>
										<td>1984</td>
										<td>1.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">GÜL ÇİMENTO LTD.</td>
										<td>1984</td>
										<td>1.8</td>
										<td>Wood Waste</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">VIZOTEKS MENSUCAT A.Ş.</td>
										<td>1984</td>
										<td>2.32</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">KOSKA HELVACISI</td>
										<td>1983</td>
										<td>0.45</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">HAYRİ SİVRİKAYA</td>
										<td>1982</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SEYİDOĞLU BAKLAVALARI LTD.</td>
										<td>1982</td>
										<td>1.2</td>
										<td>Fuel Oil</td>
										<td>Turkey</td>
									</tr>
									<tr>
										<td class="costumers">SUMAŞ MOBİLYA A.Ş.</td>
										<td>1980</td>
										<td>1.7</td>
										<td>Natural Gas</td>
										<td>Turkey</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header referencesheader blue-text white"><a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_down</i></a>Котлы шотландского типа</div>
						<div class="collapsible-body referencesbody">
							<table class ="striped responsive-table bordered centered">
								<thead>
									<tr>
										<th>Компания</th>
										<th>тепловая установка</th>
										<th>расположение</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="costumers">ORTAS WOOD INDUSTRIES</td>
										<td>10 BAR SCOTCH TYPE STEAM BOILER 70(M2) PANEL TYPE FRONT FIRE BOX 15(M2) STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>Edremit</td>
									</tr>
									<tr>
										<td class="costumers">BOGAZICI TEXTILE</td>
										<td>6 BAR SCOTCH TYPE STEAM BOILER 100(M2) PANEL TYPE FRONT FIRE BOX 15(M2) STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>CATALCA</td>
									</tr>
									<tr>
										<td class="costumers">YIFAS TEXTILE RETAIL COMPANY</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 80(M2), DEAERATOR, SAND FILTERS, COAL PREPARATION SYSTEM, STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM </td>
										<td>MALATYA</td>
									</tr>
									<tr>
										<td class="costumers">TRAKYABIRLIK KARACABEY EDIBLE OIL PLANT</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 120(M2), PANEL TYPE FRONT FIRE BOX 20(M2), STABLE GRATE SYSTEM - SUNFLOWER SHELL FEEDING SYSTEM MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM  </td>
										<td>BURSA</td>
									</tr>
									<tr>
										<td class="costumers">ERKA ERKALIT PLANT</td>
										<td>6 BAR SCOTCH TYPE STEAM BOILER 60(M2), MAIN FUEL TANKS, COMPLETE BOILER ROOM</td>
										<td>ISTANBUL</td>
									</tr>
									<tr>
										<td class="costumers">BLOKSAN BRICK MANUFACTURING PLANT</td>
										<td>6 BAR SCOTCH TYPE STEAM BOILER 125(M2), PANEL TYPE FRONT FIRE BOX 20(M2), STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE TREATMENT</td>
										<td>TURGUTLU</td>
									</tr>
									<tr>
										<td class="costumers">TRAKYABIRLIK CANDIR EDIBLE OIL PLANT</td>
										<td>17 BAR SCOTCH TYPE STEAM BOILER 240(M2), PANEL TYPE FRONT FIRE BOX 60(M2), STEPGRATE, COAL CONVEYING UNIT (5ton/h), COAL CRASHING UNIT 6ton/h, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>YOZGAT</td>
									</tr>
									<tr>
										<td class="costumers">KENTAS CHEMICAL INDUSTRIES</td>
										<td>8 BAR SCOTCH TYPE STEAM BOILER 125(M2), PANEL TYPE FRONT FIRE BOX 40(M2), AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>INEGOL</td>
									</tr>
									<tr>
										<td class="costumers">CETA TERMOT PARTNERSHIP - AKCIMENTO CEMENT PLANT</td>
										<td>8 BAR SCOTCH TYPE STEAM BOILER 100(M2), AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>ISTANBUL</td>
									</tr>
									<tr>
										<td class="costumers">DOGUS PIRINA A.S.</td>
										<td>6 BAR SCOTCH TYPE STEAM BOILER 150(M2), PANEL TYPE FRONT FIRE BOX 40(M2), AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>EDREMIT</td>
									</tr>
									<tr>
										<td class="costumers">BATIKENT - OLEY IS YAPI KOOPERATIFI</td>
										<td>8 BAR SCOTCH TYPE STEAM BOILER 140(M2), PANEL TYPE FRONT FIRE BOX 40(M2), AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM, COAL CRASHING UNIT (6 ton/h)</td>
										<td>ANKARA</td>
									</tr>
									<tr>
										<td class="costumers">BATIKENT - OLEY IS YAPI KOOPERATIFI</td>
										<td>8 BAR SCOTCH TYPE STEAM BOILER 50(M2), PANEL TYPE FRONT FIRE BOX 25(M2), AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM, COAL CRASHING UNIT (6 ton/h) </td>
										<td>ANKARA</td>
									</tr>
									<tr>
										<td class="costumers">BAFA EDIBLE OIL PLANT</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 190(M2), STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>ORDU</td>
									</tr>
									<tr>
										<td class="costumers">TEKIRDAG TEXTILE PLANT</td>
										<td>6 BAR SCOTCH TYPE STEAM BOILER 120(M2), ECONOMIZER, FUEL TANKS, WATER TREATMENT UNIT - COMPLETE BOILER ROOM</td>
										<td>TEKIRDAG</td>
									</tr>
									<tr>
										<td class="costumers">TRAKYA EDIBLE OIL PLANT</td>
										<td>PANEL TYPE FRONT FIRE BOX 60(M2), STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM </td>
										<td>TEKIRDAG</td>
									</tr>
									<tr>
										<td class="costumers">DOGUS PIRINA A.S.</td>
										<td>6 BAR SCOTCH TYPE STEAM BOILER 150(M2), PANEL TYPE FRONT FIRE BOX 40(M2), WATER COOLED STABLE GRATE, FUEL DISTRIBUTING SYSTEM</td>
										<td>EDREMIT</td>
									</tr>
									<tr>
										<td class="costumers">ANTALYA EDIBLE OIL PLANT</td>
										<td>PANEL TYPE FRONT FIRE BOX 45(M2), WATER COOLED STABLE GRATE, FUEL DISTRIBUTING SYSTEM</td>
										<td>ANTALYA</td>
									</tr>
									<tr>
										<td class="costumers">BATIKENT - GUZELEVLER YAPI KOOPERATIFI</td>
										<td>8 BAR SCOTCH TYPE STEAM BOILER 90(M2), PANEL TYPE FRONT FIRE BOX 35(M2), STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM </td>
										<td>ANKARA</td>
									</tr>
									<tr>
										<td class="costumers">PAK NISASTA A.S.</td>
										<td>14 BAR SCOTCH TYPE STEAM BOILER 300(M2), COMPLETE BOILER ROOM</td>
										<td>ADANA</td>
									</tr>
									<tr>
										<td class="costumers">TRAKYABIRLIK EDIBLE OIL COMPANY - SEREFLI INTEGRATED PLANT</td>
										<td>PANEL TYPE FRONT FIRE BOX (4PCS) 60(M2), REAR FIRE BOX (4PCS) 15(M2), STEPGRATE (4PCS), MULTICYCLONES (4PCS)</td>
										<td>TEKIRDAG</td>
									</tr>
									<tr>
										<td class="costumers">ULFET FOOD INDUSTRIES</td>
										<td>PANEL TYPE FRONT FIRE BOX 60(M2), </td>
										<td>GAZIANTEP</td>
									</tr>
									<tr>
										<td class="costumers">ARI EDIBLE OIL REFINERY PLANTS</td>
										<td>10 BAR SCOTCH TYPE STEAM BOILER 35(M2)</td>
										<td>BALIKESIR</td>
									</tr>
									<tr>
										<td class="costumers">CELIKLER FOOD INDUSTRY</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 120(M2),PANEL TYPE FRONT FIRE BOX 30(M2), STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>YOZGAT</td>
									</tr>
									<tr>
										<td class="costumers">ELMAS DRY FOOD INDUSTRIES</td>
										<td>10 BAR SCOTCH TYPE STEAM BOILER 70(M2), COMPLETE BOILER ROOM</td>
										<td>ISTANBUL</td>
									</tr>
									<tr>
										<td class="costumers">SELOLIT LIF LEVHA A.S.</td>
										<td>14 BAR SCOTCH TYPE STEAM BOILER 40(M2), PANEL TYPE FRONT FIRE BOX 20(M2), STAPLE GRATE, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM </td>
										<td>MANISA</td>
									</tr>
									<tr>
										<td class="costumers">STARWOOD WOOD PRODUCTS</td>
										<td>10 BAR SCOTCH TYPE STEAM BOILER 6 (ton/h), STABLE GRATE COMBUSTION CHAMBER - FRONT AND BACK FIRE BOX, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
										<td>INEGOL</td>
									</tr>
									<tr>
										<td class="costumers">MARSA KRAFT JACOBS-SABANCI GIDA SANAYII A.S.</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 7 (ton/h), COMPLETE BOILER ROOM </td>
										<td>ADANA</td>
									</tr>
									<tr>
										<td class="costumers">KOMSAS AMBALAJ SANAYII A.S.</td>
										<td>16 BAR SCOTCH TYPE STEAM BOILER 4(ton/h), COMPLETE BOILER ROOM</td>
										<td>KARAMAN</td>
									</tr>
									<tr>
										<td class="costumers">EUROPLAST PLASTIK SANAYII A.S.</td>
										<td>15 BAR SCOTCH TYPE STEAM BOILER 4(ton/h), COMPLETE BOILER ROOM</td>
										<td>CERKEZKOY</td>
									</tr>
									<tr>
										<td class="costumers">YASSY JOINT STOCK COMPANY</td>
										<td>6 BAR SCOTCH TYPE STEAM 60(M2) 90(M2), COMPLETE BOILER ROOM</td>
										<td>KAZAKHSTAN</td>
									</tr>
									<tr>
										<td class="costumers">TOPRAK HOLDING LICE EDIBLE OIL PLANT</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 190(M2), FUEL-OIL / NATURAL GAS COMBINATION, COMPLETE BOILER ROOM</td>
										<td>DIYARBAKIR</td>
									</tr>
									<tr>
										<td class="costumers">TOPRAK HOLDING LICE EDIBLE OIL PLANT</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 220(M2), FUEL-OIL / NATURAL GAS AND STABLE GRATE COMBUSTION CHAMBER - FRONT AND BACK FIRE BOX, COMPLETE BOILER ROOM</td>
										<td>DIYARBAKIR</td>
									</tr>
									<tr>
										<td class="costumers">TEVER MDF AND PARTICLE BOARD PLANT</td>
										<td>14 BAR SCOTCH TYPE COMBINATION STEAM BOILER FOR WOOD WASTE 20(ton/h), COMPLETE BOILER ROOM INCLUDING FUEL FEEDING SYSTEMS</td>
										<td>CERKEZKOY</td>
									</tr>
									<tr>
										<td class="costumers">KANAT AGRO PRODUCTS</td>
										<td>7 BAR SCOTCH TYPE STEAM BOILER 140(M2), HAZELNUT SHELLS AND FUEL OIL COMMISION, COMPLETE BOILER ROOM</td>
										<td>MALATYA</td>
									</tr>
									<tr>
										<td class="costumers">ARI RAFINE ve YAG SANAYII A.S.</td>
										<td>12 BAR SCOTCH TYPE STEAM BOILER 12(ton/h), COAL AND SUNFLOWER SHELLS COMBINATION, COMPLETE BOILER ROOM</td>
										<td>BALIKESIR</td>
									</tr>
									<tr>
										<td class="costumers">ASH WOOD PRODUCTS - LAMINATION PLANT</td>
										<td>18 BAR FUEL OIL / NATURAL GAS FIRED STEAM BOILER 7(ton/h), COMPLETE BOILER ROOM</td>
										<td>DUZCE</td>
									</tr>
									<tr>
										<td class="costumers">ASH WOOD PRODUCTS - LAMINATION PLANT</td>
										<td>16 BAR NATURAL GAS FIRED STEAM BOILER 4(ton/h), COMPLETE BOILER ROOM</td>
										<td>DUZCE</td>
									</tr>
								</tbody>
							</table>		
						</div>			
					</li>					
				</ul>						
			</div>							
		</div>
		<div class="row">
			<div class="col s12">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header referencesheader blue-text white"><a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_down</i></a>ВОДЯНЫЕ ТРУБНЫЕ КОТЛЫ</div>
						<div class="collapsible-body referencesbody">
							<table class ="striped responsive-table bordered centered">
								<thead>
									<tr>
										<th>Компания</th>
										<th>тепловая установка</th>
										<th>расположение</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="costumers">MARSA MARGARINE PLANT</td>
										<td>15 BAR SCOTCH TYPE STEAM BOILER 25(ton/h), 15 BAR SCOTCH TYPE STEAM BOILER 15(ton/h), DAERATOR 15(ton/h)</td>
										<td>ADANA</td>
									</tr>
									<tr>
										<td class="costumers">PAKSOY YAG SANAYII</td>
										<td>15 BAR WATER TUBE STEAM BOILER 15(ton/h)</td>
										<td>ADANA</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE MDF A.S.</td>
										<td>38 BAR WATER TUBE SUPERHEATED STEAM BOILER 50(ton/h) HAS BEEN DISMANTLED, TRANSPORTED, RE-INSTALLED WITH MAJOR MODIFICATIONS INCLUDES THE FOLLOWING: CAPACITY INCREASE FROM 50TPH TO 75TPH WITH THE ADDITION EXTRA STEAM DRUM 50(M2), THE STEAM QUALITY CHANGED TO SATURATED STEAM @ 16 BAR FROM SUPERHEATED STEAM @ 38 BAR, STEPGRATE FOR WASTE WOOD, COMPLETE FUEL FEEDING SYSTEM, MULTICYCLONE, COMPLETE BOILER ROOM  </td>
										<td>IZMIT</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE MDF A.S.</td>
										<td>14 BAR WATER TUBE SATURATED STEAM BOILER - COMPLETE BOILER ROOM, NATURAL GAS AND SANDERDUST COMBINATION FIRING</td>
										<td>IZMIT</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ SUNTA MDF</td>
										<td>14 BAR COMBINATION TYPE STEAM BOILER 25(ton/h), STEPGRATE 25(M2), FULL AUTOMATION CONTROL - WINFLEX SCADA, FULL FEEDING SYSTEM, MULTICYCLONE, COMPLETE BOILER ROOM</td>
										<td>IZMIT</td>
									</tr>
									<tr>
										<td class="costumers">IMAL SPA - ITALY "ABINSK MDF PLANT"</td>
										<td>14 BAR SATURATED STEAM BOILER 14(ton/h), STEPGRATE COMBUSTION CHAMBER, SANDERDUST - 10MW, NATURAL GAS - 10MW, COMPLETE BOILER ROOM </td>
										<td>KROSNODAR/RUSSIA</td>
									</tr>
									<tr>
										<td class="costumers">YILDIZ ENTEGRE AGAC SANAYI</td>
										<td>14 BAR WOOD WASTE FIRED STEAM BOILER 35(ton/h), STEPGRATE 46(M2), COMPLETE BOILER ROOM, BAG FILTER AT BOILER OUTLET</td>
										<td>IZMIT</td>
									</tr>
								</tbody>
							</table>		
						</div>			
					</li>					
				</ul>						
			</div>							
		</div>
		<div class="row">
			<div class="col s12">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header referencesheader blue-text white"><a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_down</i></a>ФЛЮИДИЗИРОВАННЫЕ ПАРНЫЕ КОТЛЫ</div>
						<div class="collapsible-body referencesbody">
							<table class ="striped responsive-table bordered centered">
								<thead>
									<tr>
										<th>Компания</th>
										<th>тепловая установка</th>
										<th>расположение</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="costumers">TURYAG - BALIKESIR YAG FABRIKASI</td>
										<td>FLUIDIZED BED STEAM BOILER - COMPLETE BOILER ROOM 2 X 10(ton/h)</td>
										<td>BALIKESIR</td>
									</tr>
								</tbody>
							</table>		
						</div>			
					</li>					
				</ul>						
			</div>							
		</div>
	</div>
</div>



