<div class="container">
    <div class="row">
        <div class="col l9">
            <h3>Условия и положения</h3>

            <div class="divider"></div>

            <h5>Общая</h5>
            <p>BERSEY осознает необходимость комплексной защиты конфиденциальности в Интернете. С помощью этой декларации мы стремимся информировать вас о том, как мы поступаем с информацией и данными, которые мы получаем от вас, когда вы заходите на наш веб-сайт (далее именуемый «информация»).</p>
                
            <div class="divider"></div>

            <h5>Конфиденциальность</h5>
            <p>Информация, которую мы получаем от вас или о вас, будет обрабатываться строго конфиденциально. Эта информация позволяет нам настраивать и улучшать наши услуги в соответствии с вашими потребностями. Когда вы посещаете наш сайт, мы собираем и сохраняем следующую информацию:</p>
            <h6>1. Информация, которую вы предоставляете</h6> 
            <p>Это включает в себя всю информацию, которую вы предоставляете при использовании нашего сайта.</p>
            <h6>2. Адрес электронной почты</h6>
            <p> Адреса электронной почты, которые мы собираем, храним и используем, используются для отправки вам различной информации (например, технических разработок, продаж, условий продаж, рекламных материалов). Если вы не согласны с этим, пожалуйста, сообщите нам здесь: info@berseykazan.com</p>
            <h6>3. Данные, которые мы автоматически получаем</h6> 
            <p>Каждый раз, когда вы посещаете наш веб-сайт, мы автоматически получаем информацию, которую храним. Это особенно относится к файлам cookie, а также к другим данным о вашем веб-браузере. Мы сохраняем за собой право использовать дополнительные технологии для анализа групп пользователей нашего веб-сайта посредством автоматического сбора и хранения информации или для идентификации конкретных пользователей.</p>

            <div class="divider"></div>

            <h5>Cookies</h5>
            <p>Файлы cookie - это технический метод, который позволяет нам узнать, посещал ли пользователь наш веб-сайт в прошлом. Большинство браузеров информируют вас о файлах cookie, о том, как с ними обращаться, и как их можно изменить, идентифицировать или отключить. Если вы решите удалить файлы cookie, это может ограничить удобство использования нашего веб-сайта во время вашего следующего посещения.</p>

            <div class="divider"></div>

            <h5>Использование информации, которую мы получаем от вас</h5>
            <p>Мы не будем передавать информацию, которую вы предоставляете нам третьим лицам, каким-либо образом. Для того чтобы мы могли оптимизировать наши услуги для вас, мы тем не менее сохраняем за собой право распространять полученную от вас информацию каким-либо образом, частично или полностью, среди компаний, которые поддерживают наши услуги в Интернете, и - насколько нам необходимо по закону - в другие учреждения (например, государственные органы или суды).</p>

            <div class="divider"></div>
            
            <h5>Доступ к данным и отписка</h5>
            <p>Если вы хотите узнать, какую информацию мы храним о вас и вашем посещении нашего веб-сайта, свяжитесь с нами по адресу info@berseykazan.com</p>

            <div class="divider"></div>
            <br>
            <p>Мы сохраняем за собой право изменять нашу обработку и использование информации. Однако мы не будем распространять вашу личную информацию (например, ваше имя и адрес) без предварительного разрешения.</p>

            <div class="divider"></div>
            <br>
            <p>Для получения дополнительной информации, пожалуйста, свяжитесь с:</p>
            <b><p>BERSEY SINAI ve TIBBI CIHAZLAR IMALAT ve TIC. LTD. STI.</p>
                <p>Söğütlüçeşme Mah. Halkalı Cad. No:257 Bina:4 Sefaköy, 34295</p>
                <p>T: +90 212 693 74 74</p>
                <p>F: +90 212 495 48 50</p>
                <p>info@berseykazan.com</p>
        </div>
    </div>
</div>

