<div id="biomass-container" class="blue-grey lighten-5">
	<div class="row relative-align">
		<div class="container">
			<div class="col s12 m6">
				<div class="card-panel teal blue-grey darken-4">
					<h5 class="white-text">WHY THERMAL OIL HEATERS ?</h5><p class="white-text">In many different industrial processes where the production is carried out with heat exchange at high temperatures, conventional methods such as superheated water and steam can meet the requirements. The utilization of water and steam usually implies high operating, maintenance costs and system monitoring requirements due to pre-treatment of process water.</p>
					<p class="white-text light"> Thermal Oil Application is an alternative and a cost-effective solution for reaching elevated temperatures at low operating pressures for multiple heat receivers in the process.</p>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="card-panel teal blue-grey darken-4"> 
					<h5 class="white-text">ADVANTAGES OF THERMAL OIL HEATERS</h5>
					<ul class="white-text">
						<li class="thermal-list">High temperature with atmospheric pressure</li>
						<li class="thermal-list"><b>Secondary circuit applications allow:</b></li>
						<li class="thermal-list">Accurate temperature control over the system</li>
						<li class="thermal-list">Different operating temperatures for multiple heat users</li>
						<li class="thermal-list">No condensate problems</li>
						<li class="thermal-list">No corrosion problems</li>
						<li class="thermal-list">One point heat generation for multiple equipments</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="/images/slide3.jpg">
						<span class="card-title">Card Title</span>
					</div>
					<div class="card-content blue-grey darken-4">
						<p class="white-text">I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="/images/slide3.jpg">
						<span class="card-title">Card Title</span>
					</div>
					<div class="card-content blue-grey darken-4">
						<p class="white-text">I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="/images/slide3.jpg">
						<span class="card-title">Card Title</span>
					</div>
					<div class="card-content blue-grey darken-4">
						<p class="white-text">I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>