<div class = "container">
    <div class="section">
        <div class="row">
            <div class="col l10 light">
            <br>
            <br>
            <br>
            <br>
            <br>   
                <h5>Müşterilerimizin endüstriyel enerji ihtiyaçları için yenilikçi çözümler sunuyoruz.</h5>
                <div class="divider blue-grey darken-4"></div>
                <br>
                <br>
                <p>Şirketimizin kurucuları, sayın Üzeyir Yılmaz ve Nursel Erol 1966 yılında, Wanson Steinmüller ile lisans antlaşması olan SUNGURLAR ISI SANAYİ`inde mühendislik kariyerlerine başlamışlardır. 1979 yılında kurulan BERSEY, 40 yıllık bilgi birikimi, tecrübesi ve uluslararası iş yapma kabiliyeti ile Türkiye Isı Sanayi sektöründe önemli bir pazara sahiptir.</p>
                <br>
                <p>Halen Türkiye, Belarus, Romanya, Bulgaristan ve Rusya'da devam eden projeleri olan BERSEY, ağaç endüstrisi atıklarına dayalı biokütle yakıtlarının yanı sıra fosil yakıtlara dayalı enerji üretim tesisi projeleri de gerçekleştirmektedir.</p>
                <br>
                <p>Yüksek kapasiteli buhar kazanları ile ilgili olarak Steinmüller Engineering ve Thermax firmaları ile işbirliği kurmakta olan firmamımız, Ar-Ge kapsamında yerli linyit kömürünün gazlaştırma ve toz haline getirilerek çeşitli yakma yöntemleri ile verimliliğinin artırılmasına ilişkin iki araştırma projesi gerçekleştirmiştir. Bu projelerde ODTÜ, İTÜ, Marmara, Ege ve Isparta üniversitelerindeki akademisyenlerin yanı sıra Fransız CNRS Laboratuvarları ile çalışmıştır.</p>
                <br>
                <p>Müşterimizden gelen; ekolojik şartlara uyum, maksimum verim ve uygun maliyet taleplerine karşılık veren Isı santralleri kurarken, her zaman daha iyisini sunmak için çalışmalarımızı sürdürüyoruz.</p>
                </p>
                <br>
            </div>
        </div>
    </div>
</div>

