<!--   Welcome Section   -->

<div class = "welcome-container">
	<div class = "welcome-layout">
		<ul class = "welcome-text hidden">
			<li>B</li>
			<li>E</li>
			<li>R</li>
			<li>S</li>
			<li>E</li>
			<li>Y</li>	
		</ul>
		<svg id="line" viewBox="-1.114 -0.512 219 66">
			<path fill="none" stroke="#0099ff" stroke-width="5" stroke-miterlimit="14" d="M214.549,32.921
			c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
			C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"/>
		</svg>
		<ul class = "welcome-text-sub hidden">
			<li>"Engineered Solutions"</li>
		</ul>
	</div>
</div>

<!--   Preloader   -->

<!--   <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div> -->

<!--   Sliders   -->

<div class="slider white">
	<ul class="slides">
		<li>
			<a href="/news1">
				<img id="slide1" src="./images/belarus3.jpg"> <!-- random image -->
				<div class="caption left-align">
					<h3>Kronospan-Smorgon signed a deal with BERSEY in Belarus</h3>
					<h5 class="light grey-text text-lighten-3">Power Plant construction(60MW) will commence in 2017</h5>
				</div>
			</a>
		</li>
		<li>
			<a href="/news2">
				<img id="slide2" src="./images/Belarus.jpg">
				<div class="caption left-align">
					<h3>Pinskdrev signed a deal with BERSEY</h3>
					<h5 class="light grey-text text-lighten-3">Construction will commence soon.</h5>
				</div>
			</a>
		</li>
		<li>
			<a href="/news3">
				<img id="slide3" src="./images/slide3.jpg"> 
				<div class="caption right-align">
					<h3>Ongoing projects in Romania and Russia</h3>
					<h5 class="light grey-text text-lighten-3">Power Plants</h5>
				</div>
			</a>
		</li>
		<li>
			<a href="/news4">
				<img id="slide4" src="./images/slide4.jpg"> 
				<div class="caption center-align">
					<h3>Research colobration with CNRS laboratory in France</h3>
					<h5 class="light grey-text text-lighten-3">Innovation Projects</h5>
				</div>
			</a>
		</li>
	</ul>
</div>

<!--   About Us Section  -->

<div class="white">
	<div class="section">
		<div class="row">
			<div class="col l10 center offset push-l1">
				<!-- <h3><i class="mdi-content-send brown-text"></i></h3> -->
				<h4 class="center">About Us</h4>
				<br>
				<p class="justify-align light">Bersey Limited Company, established in 1979, is an engineering company serving to different process industries where heat generation is required. Bersey designs and delivers complete heat generation systems -all its own design- that are oil fired, gas fired, waste fired, biomass fired, oil and gas co-fired. It is our main priority to supply "engineered solutions" to our costumers together with total manufacturing and quality satisfaction conforming with the international codes and standards that apply. </p>
				<p class="justify-align light">Our robust engineering and technical background combined with the experience gained over the years made us a reliable solution-partner in various projects. Today Bersey produces various applications to major industries such as Wood and Wood Products Industries, Paper and Pulp Industries, Chemical Industry, Textile Industry, Vegetable Oil Production Plants, Plastics and Packaging Industries.</p>
			</div>
		</div>
	</div>
</div>


<!--   Parallax Image Section FIRE  -->

<div class="parallax-container valign-wrapper">
	<div class="container">
		<div class="row">
			<h4 class="header col s12 white-text text-lighten-3" style="letter-spacing: 1px;">Turkey`s leading boiler tank producer</h4>
		</div>
	</div>
	<div class="parallax"><img id="fire-img" src="./images/factory.jpg" alt="Unsplashed fire"></div>
</div>

<!--   Icon Section   -->

<div class="white">
	<div class="section">
		<div class="row">
			<div class="col l10 push-l1">
				<div class="col s4">
					<div class="icon-block">
						<h2 class="center grey-text text-darken-2"><i class="material-icons">flash_on</i></h2>
						<h5 class="center">Industry Leader</h5>

						<p class=" justify-align light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>

				<div class="col s4">
					<div class="icon-block">
						<h2 class="center grey-text text-darken-2"><i class="material-icons">person</i></h2>
						<h5 class="center">Client-Focused</h5>
						<p class=" justify-align light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
					</div>
				</div>
				<div class="col s4">
					<div class="icon-block">
						<h2 class="center grey-text text-darken-2"><i class="material-icons">access_time</i></h2>
						<h5 class="center">On-Time Project Delivery</h5>
						<p class=" justify-align light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>


<!--   Parallax Image Section HORIZON  -->

<div class="parallax-container valign-wrapper">
	<div class="section">
		<div class="container">
			<div class="row center">
				<h4 class="header col s12 white-text text-lighten-5" style="letter-spacing: 1px;">Exporting to Russia, Belarus, Romania and Middle East</h4>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="./images/horizon.jpg" alt="Unsplashed horizon"></div>
</div>

<!--   FOOTER  -->

<footer class="page-footer grey darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="grey-text text-lighten-2">Contact</h5>
				<p class="grey-text text-lighten-1">BERSEY SINAI ve TIBBI CIHAZLAR IMALAT ve TIC. LTD. STI.</p>
				<p class="grey-text text-lighten-1">Söğütlüçeşme Mah. Halkalı Cad. No:257 Bina:4 Sefaköy, 34295</p>
				<p class="grey-text text-lighten-1">T: +90 212 693 74 74</p>
				<p class="grey-text text-lighten-1">F: +90 212 495 48 50</p>
				<p class="grey-text text-lighten-1">info@berseykazan.com</p>
			</div>
			<div class="col l3 s12">
				<h5 class="grey-text text-lighten-2">Legal</h5>
				<ul>
					<li><a class="grey-text text-lighten-1" href="/terms">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="grey-text text-lighten-2">Follow Us</h5>
				<ul>
					<li><a class="white-text" href="https://www.linkedin.com/company-beta/10671411/" target=_blank><img id="linkedin" src=./images/linkedin.png></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>













