<!DOCTYPE html>
<html lang="tr">
<head>
	<title>BERSEY</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
</head>
<body<%= @bodyclass %>>
<!--   Navbar Section   -->
<header>
	<div class="navbar-fixed">
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
		  <li><a href="/en/">EN</a></li>
		  <li><a href="/ru/">RU</a></li>
		</ul>
		<nav class="white" role="navigation">
			<div class="nav-wrapper">
				<ul class="left">
					<a href="/" class="brand-logo">
						<img src="/images/bersey.png" id="logo"></img>
					</a>
				</ul>
				<ul id="mobile-demo" class="side-nav">
					<li><a href="/">ANA SAYFA</a></li>
					<li><a href="/hakkimizda">HAKKIMIZDA</a></li>
					<li><a href="/urunler">ÜRÜNLER</a></li>
					<li><a href="/referanslar">REFARANSLAR</a></li>
					<!-- <li><a href="/projects">PROJECTS</a></li> -->
					<!-- <li><a href="/career">CAREERS</a></li> -->
					<li><a href="/iletisim">İLETİŞİM</a></li>
				</ul>
				<ul id="navbar" class="right hide-on-med-and-down">
					<li><a href="/" class="nav-btn">ANA SAYFA</a></li>
					<li><a href="/hakkimizda" class="nav-btn">HAKKIMIZDA</a></li>
					<li><a href="/urunler" class="nav-btn">ÜRÜNLER</a></li>
					<li><a href="/referanslar" class="nav-btn">REFARANSLAR</a></li>
					<!-- <li><a href="/projects" class="nav-btn"><strong>PROJECTS</strong></a></li> -->
					<!-- <li><a href="/career" class="nav-btn"><strong>CAREERS</strong></a></li> -->
					<li><a href="/iletisim" class="nav-btn">İLETİŞİM</a></li>
					<!-- Dropdown Trigger -->
    				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">TR<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="small material-icons">menu</i></a>
			</div>
		</nav>
	</div>
</header>
<!--   Main Section   -->
<main>
<%= yield %>
</main>
<footer class="page-footer grey darken-4">
	<div class="footer-copyright grey darken-4">
		<div class="container">
			<p class= "right grey-text text-lighten-1">© 2017 by BERSEY LTD STI. Bütün hakları saklıdır.</p>
		</div>
	</div>
</footer>
<script type="text/javascript" src = /js/cookies.js></script>	
<script src="/js/jquery.js"></script>
<script src="/js/home.js"></script>
<script src="/js/materialize.js"></script>
<script type="text/javascript">
$(function(){
	$('#navbar a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
	$('#navbar a').click(function(){
		$(this).parent().addClass('active').siblings().removeClass('active')	
	})
})
</script>
</body>
</html>
