<div class="image-container valign-wrapper">
  <div class="container ">
    <div class="row">
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Scotch Type Steam Boilers</text>
          </a>
        </svg>
      </div>
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Hot Water Boilers</text>
          </a>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Scotch Type Steam Boilers</text>
          </a>
        </svg>
      </div>
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Hot Water Boilers</text>
          </a>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Scotch Type Steam Boilers</text>
          </a>
        </svg>
      </div>
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Hot Water Boilers</text>
          </a>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col l6 white-text center">
        <svg id="product-button" viewBox="-1.114 -0.512 219 66">
          <a href="/products/scotch" class="product-list">
            <path fill="white" stroke="#0099ff" stroke-width="5" d="M214.549,32.921
            c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
            C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"></path>
            <text fill="#0099ff" text-anchor="middle" font-family="RundschriftPro" font-weight="100" font-size="14px" style="text-transform:uppercase;"
            y="38" x="108">Scotch Type Steam Boilers</text>
          </a>
        </svg>
      </div>
    </div> 
  </div>    
</div>      




