<div id="products-container">
    <div class="row relative-align">
    <div class="container">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/scotch"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Scotch Type Steam Boilers</h6>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/waterpipe"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Water Pipe Steam Boilers</h6>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/thermal"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Thermal Oil Heaters</h6>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="container">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/biomass"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Biomass Fuel Boilers</h6>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/hotwater"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Hot Water Boilers</h6>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/wasteheat"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Waste Heat Boilers</h6>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="container">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/fluidized"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content blue-grey darken-4">
            <h6 class="center white-text">Fluidized Bed Boilers</h6>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>