<div id="products-container">
    <div id="products-align" class="row">
    <div class="container">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/scotch"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Scotch Type Steam Boilers</b></h6>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/waterpipe"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Water Pipe Steam Boilers</b></h6>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/thermal"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Thermal Oil Heaters</h6></b>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="container">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/biomass"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Biomass Fuel Boilers</h6></b>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/hotwater"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Hot Water Boilers</h6></b>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/wasteheat"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Waste Heat Boilers</h6></b>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="container">
      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <a href="/products/fluidized"><img src="images/Belarus.jpg"></a>
          </div>
          <div class="card-content">
            <h6 class="center"><b>Fluidized Bed Boilers</b></h6>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>