<div id="references-container">
 	<div class="row">
 		<div class="col s12">
 			<div class="container">
 				<ul class="collapsible" data-collapsible="accordion">
 					<li>
 						<div class="collapsible-header referencesheader white-text blue-grey darken-4"><a href="#!" class="secondary-content"><i class="material-icons"><b>keyboard_arrow_down</b></i></a>THERMAL OIL HEATERS</div>
 						<div class="collapsible-body referencesbody">
 							<table class ="striped responsive-table bordered centered">
 								<thead>
 									<tr>
 										<th>CUSTOMERS</th>
 										<th>YEAR</th>
 										<th>CAPACITY(MW)</th>
 										<th>FUEL</th>
 										<th>LOCATION</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="costumers">KRONOSPAN GROUP BELARUS MDF PLANT (On-Going)</td>
 										<td>2017</td>
 										<td>67</td>
 										<td>Wood Waste</td>
 										<td>Belarus</td>
 									</tr>
 									<tr>
 										<td class="costumers">KRONOSPAN GROUP KASTAMONU MDF PLANT (On-Going)</td>
 										<td>2017</td>
 										<td>50</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE ROMANIA MDF PLANT (On-Going)</td>
 										<td>2017</td>
 										<td>67</td>
 										<td>Wood Waste</td>
 										<td>Romania</td>
 									</tr>
 									<tr>
 										<td class="costumers">KADUY PLYWOOD PLANT - RUSSIA</td>
 										<td>2015</td>
 										<td>8.25</td>
 										<td>Wood Waste</td>
 										<td>Belarus</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE TATARISTAN MDF 2</td>
 										<td>2015</td>
 										<td>45</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">CAMSAN ORMAN URUNLERI</td>
 										<td>2015</td>
 										<td>60</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI</td>
 										<td>2015</td>
 										<td>27</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI</td>
 										<td>2015</td>
 										<td>50</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KRONOSPAN TURKEY - SFC KASTAMONU</td>
 										<td>2014</td>
 										<td>50</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE TATARISTAN MDF PLANT</td>
 										<td>2014</td>
 										<td>99</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">SVEZA HOLDING - MANTUROVO 2 - PLYWOOD PLANT</td>
 										<td>2013</td>
 										<td>8.2</td>
 										<td>Natural Gas</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">FOUMANAT PARTICLE BOARD</td>
 										<td>2012</td>
 										<td>16</td>
 										<td>Wood + N.Gas</td>
 										<td>Iran</td>
 									</tr>
 									<tr>
 										<td class="costumers">ISIK AHSAP ORMAN URUNLERI</td>
 										<td>2013</td>
 										<td>9</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">BORISOVDREV MDF PLANT</td>
 										<td>2012</td>
 										<td>9</td>
 										<td>Natural Gas</td>
 										<td>Belarus</td>
 									</tr>
 									<tr>
 										<td class="costumers">BORISOVDREV MDF PLANT</td>
 										<td>2012</td>
 										<td>9</td>
 										<td>Natural Gas</td>
 										<td>Belarus</td>
 									</tr>
 									<tr>
 										<td class="costumers">BORISOVDREV MDF PLANT</td>
 										<td>2012</td>
 										<td>17</td>
 										<td>Natural Gas</td>
 										<td>Belarus</td>
 									</tr>
 									<tr>
 										<td class="costumers">BORISOVDREV MDF PLANT</td>
 										<td>2012</td>
 										<td>17</td>
 										<td>Natural Gas</td>
 										<td>Belarus</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE - ASLANBEY MDF PLANT</td>
 										<td>2012</td>
 										<td>44</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI A.S.</td>
 										<td>2012</td>
 										<td>27</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YANBU WASTE RECOVERY SYSTEMS</td>
 										<td>2011</td>
 										<td>2.4</td>
 										<td>Fuel Oil</td>
 										<td>Saudi Arabia</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2011</td>
 										<td>75</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2011</td>
 										<td>10</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ILIM TIMBER PLYWOOD PLANT - BRATSK</td>
 										<td>2011</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">ILIM TIMBER PLYWOOD PLANT - BRATSK</td>
 										<td>2011</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE - MERSIN MDF PLANT</td>
 										<td>2011</td>
 										<td>66</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE - ASLANBEY MDF PLANT</td>
 										<td>2011</td>
 										<td>7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE - MANISA PARTICLE BOARD PLANT</td>
 										<td>2011</td>
 										<td>28</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ORMA ORMAN URUNLERI A.S.</td>
 										<td>2010</td>
 										<td>25</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">VEZIRAGAC ORMAN URUNLERI A.S.</td>
 										<td>2010</td>
 										<td>11.7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ARGUS ZFK - EKATERINBURG</td>
 										<td>2010</td>
 										<td>7</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">SVEZA HOLDING - MANTUROVA</td>
 										<td>2010</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">AFK KEMEROVO PLYWOOD PLANT</td>
 										<td>2009</td>
 										<td>28</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVERPAN MDF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>2009</td>
 										<td>26</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVERPAN MDF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>2009</td>
 										<td>12.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SBS ORMAN URUNLERI VE YAPI MALZ. IML. SAN. TIC A.S.</td>
 										<td>2009</td>
 										<td>11.7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SVEZA HOLDING - NOVATOR</td>
 										<td>2009</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ZELENEDOLSK PLYWOOD AND FURNITURE</td>
 										<td>2009</td>
 										<td>4.8</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ SUNTA MDF A.S.</td>
 										<td>2009</td>
 										<td>8.7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE AGAC SANAYI TICARET A.S.</td>
 										<td>2009</td>
 										<td>2.32</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI A.S.</td>
 										<td>2009</td>
 										<td>0.7</td>
 										<td>Natural Gas</td>
 										<td>Georgia</td>
 									</tr>
 									<tr>
 										<td class="costumers">PARFINO PLYWOOD PLANT</td>
 										<td>2008</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI A.S.</td>
 										<td>2008</td>
 										<td>5.8</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">IMAL SPA</td>
 										<td>2008</td>
 										<td>2.32</td>
 										<td>Natural Gas</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">UPG - ZHESHART PLYWOOD PLANT</td>
 										<td>2007</td>
 										<td>8.5</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2007</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2007</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">URAL VENEER LIMITED - URALSKAYA</td>
 										<td>2007</td>
 										<td>4.4</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">INZENSKY PLYWOOD - ULYANOVSK</td>
 										<td>2007</td>
 										<td>3.5</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">LESSOPLAST PLC TROJAN - BULGARIA</td>
 										<td>2007</td>
 										<td>3.5</td>
 										<td>Wood Waste</td>
 										<td>Serbia</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE AGAC SANAYI TICARET A.S.</td>
 										<td>2007</td>
 										<td>7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE AGAC SANAYI TICARET A.S.</td>
 										<td>2007</td>
 										<td>7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVERPAN MDF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>2006</td>
 										<td>11.7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2006</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2006</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2006</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">EUROFOREST PLYWOOD</td>
 										<td>2006</td>
 										<td>5.8</td>
 										<td>Wood Waste</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ SUNTA MDF A.S.</td>
 										<td>2006</td>
 										<td>10.5</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">IMPULS LIMITED COMPANY</td>
 										<td>2006</td>
 										<td>2.32</td>
 										<td>Natural Gas</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">IMPULS LIMITED COMPANY</td>
 										<td>2006</td>
 										<td>2.32</td>
 										<td>Natural Gas</td>
 										<td>Russia</td>
 									</tr>
 									<tr>
 										<td class="costumers">YILDIZ ENTEGRE AGAC SANAYI TICARET A.S.</td>
 										<td>2005</td>
 										<td>7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVERPAN MDF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>2005</td>
 										<td>4.65</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">CAG ORMAN URUNLERI A.S.</td>
 										<td>2005</td>
 										<td>3.5</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">GIZIR AHSAP PROFIL SANAYI TICARET A.S.</td>
 										<td>2005</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">DENVER IMPORT EXPORT</td>
 										<td>2005</td>
 										<td>1.2</td>
 										<td>Natural Gas</td>
 										<td>Ukraine</td>
 									</tr>
 									<tr>
 										<td class="costumers">HAKAN ORMAN URUNLERI SANAYI TICARET A.S.</td>
 										<td>2005</td>
 										<td>0.45</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI A.S.</td>
 										<td>2004</td>
 										<td>21</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SFC ENTEGRE ORMAN URUNLERI SANAYI VE TICARET A.S.</td>
 										<td>2004</td>
 										<td>11.7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ELIF PLASTIK AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>2004</td>
 										<td>1.7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ELIF PLASTIK AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>2004</td>
 										<td>1.7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2003</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>2003</td>
 										<td>5.8</td>
 										<td>Wood Waste</td>
 										<td>Bulgaria</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVER ORMAN URUNLERI A.S.</td>
 										<td>2002</td>
 										<td>7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ONDULINE AVRASYA A.S.</td>
 										<td>2002</td>
 										<td>2.32</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">DIVAPAN ENTEGRE AGAC PANEL SANAYI VE TIC A.S.</td>
 										<td>2001</td>
 										<td>8.2</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">DIVAPAN ENTEGRE AGAC PANEL SANAYI VE TIC A.S.</td>
 										<td>2000</td>
 										<td>5.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">AROMATIK KIMYA SANAYI A.S.</td>
 										<td>2000</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TUTAN BANT A.S.</td>
 										<td>2000</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YONTAS YONGA LEVHA SANAYI VE TICARET A.S.</td>
 										<td>1999</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEKSUN BAKU YAG FABRIKASI</td>
 										<td>1999</td>
 										<td>1.2</td>
 										<td>Natural Gas</td>
 										<td>Azerbaijan</td>
 									</tr>
 									<tr>
 										<td class="costumers">NOYA ORMAN URUN. BOYA VERNIK PAZ. INS. TIC SAN A.S.</td>
 										<td>1999</td>
 										<td>2.32</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOROZO AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>1998</td>
 										<td>2.32</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TUTSAN POLIMER KIMYA SANAYI A.S.</td>
 										<td>1998</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">PAKSOY SANAYI VE TICARET A.S.</td>
 										<td>1998</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">GUNAY YAG SANAYI TICARET LTD STI</td>
 										<td>1998</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SUMAS SUNI TAHTA VE MOBILYA A.S.</td>
 										<td>1997</td>
 										<td>1.7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KUROGULLARI YAPI MALZEMELERI TICARET SAN A.S.</td>
 										<td>1997</td>
 										<td>1.7</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">STARWOOD ORMAN URUNLERI A.S.</td>
 										<td>1997</td>
 										<td>4.65</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ONDULINE AVRASYA A.S.</td>
 										<td>1997</td>
 										<td>1.8</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVERPAN MDF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>1997</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">AROMATIK KIMYA SANAYI A.S.</td>
 										<td>1997</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">IZOCAM</td>
 										<td>1997</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>1996</td>
 										<td>5.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SELOLIT LIF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>1996</td>
 										<td>4.65</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">PILSA PLASTIK SANAYI A.S.</td>
 										<td>1996</td>
 										<td>2.32</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">OZER TEKSTIL SANAYI VE TICARET LTD STI</td>
 										<td>1996</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">BASMACI LIMITED SIRKETI</td>
 										<td>1996</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SFC ENTEGRE ORMAN URUNLERI SANAYI TICARET A.S.</td>
 										<td>1995</td>
 										<td>5.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SFC ENTEGRE ORMAN URUNLERI SANAYI TICARET A.S.</td>
 										<td>1995</td>
 										<td>5.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVER ORMAN URUNLERI A.S.</td>
 										<td>1995</td>
 										<td>1.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEVERPAN MDF LEVHA SANAYI VE TICARET A.S.</td>
 										<td>1995</td>
 										<td>1.8</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SARISAKAL TARIM URUNLERI SANAYI VE TIC A.S.</td>
 										<td>1995</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOROZO AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>1995</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">BIL-YAP MAKINE SANAYI VE TICARET A.S.</td>
 										<td>1995</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>1994</td>
 										<td>5.3</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KASTAMONU ENTEGRE AGAC SANAYI VE TICARET A.S.</td>
 										<td>1994</td>
 										<td>5.3</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">DEVREKTES DEVREK ORMAN URUNLERI SANAYI TIC A.S.</td>
 										<td>1994</td>
 										<td>2.9</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOROZO AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>1994</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">DOGAN ERDIL YAG FABRIKASI</td>
 										<td>1994</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ORMA ORMAN MAHSULLERI ENTEGRE SAN VE TIC A.S</td>
 										<td>1993</td>
 										<td>5.3</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ORMA ORMAN MAHSULLERI ENTEGRE SAN VE TIC A.S</td>
 										<td>1993</td>
 										<td>3.5</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TEKEL AMBALAJ FABRIKASI CEVIZLI</td>
 										<td>1993</td>
 										<td>1.2</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KUROGULLARI YAPI MALZEMELERI TICARET SAN A.S.</td>
 										<td>1993</td>
 										<td>1.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">THE ARAB NEBATI YAG FABRIKASI</td>
 										<td>1993</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>JORDAN</td>
 									</tr>
 									<tr>
 										<td class="costumers">GUNEYDOGU YAG SANAYI VE TICARET A.S</td>
 										<td>1993</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ARAL TEKSTIL KONFEKSIYON SANAYI LTD STI</td>
 										<td>1993</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SERKIM BOYA VE KIMYA LTD STI</td>
 										<td>1993</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ADIM YAPI URUNLERI TICARET VE SAN LTD STI</td>
 										<td>1992</td>
 										<td>1</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TURKUAZ TEKSTIL SANAYI VE TICARET LTD STI</td>
 										<td>1992</td>
 										<td>2.9</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YAPICI AYAKKABI SANAYI</td>
 										<td>1992</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">BILSAN PLASTIK PAZARLAMA TIC VE SAN LTD STI</td>
 										<td>1992</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">PAKSOY SANAYI VE TICARET A.S</td>
 										<td>1992</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">PAKSOY SANAYI VE TICARET A.S</td>
 										<td>1992</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KARAMEHMETLER EDIBLE OIL PLANT</td>
 										<td>1992</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ROTOPAK MATBAACILIK AMBALAJ SANAYI TIC A.S</td>
 										<td>1991</td>
 										<td>2.32</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">YONSAN YONGA LEVHA SANAYI VE TICARET A.S.</td>
 										<td>1991</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">VOLKAN BOYA KIMYA SANAYI VE TICARET LTD STI</td>
 										<td>1991</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">PAFLAR GIDA SANAYI TICARET A.S.</td>
 										<td>1991</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SERFLEKS YER KAROLARI SANAYI VE TIC A.S.</td>
 										<td>1990</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">EMEK YAG SANAYI A.S.</td>
 										<td>1990</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">MINA YAG SANAYI TICARET A.S.</td>
 										<td>1990</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOROZO AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>1990</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ORDU YAG SANAYI VE TICARET A.S.</td>
 										<td>1990</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">DEMIRCANLAR YAG SANAYI A.S.</td>
 										<td>1990</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SFC ENTEGRE ORMAN URUNLERI SANAYI TICARET A.S.</td>
 										<td>1989</td>
 										<td>3.5</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SETAS SIMAV ORMAN MAHSULLERI END. VE TIC A.S.</td>
 										<td>1989</td>
 										<td>1.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">TRAKYA YAGLI TOHUM TARIM SATIS KOOP. BIRLIGI</td>
 										<td>1989</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ROTOPAK MATBAACILIK AMBALAJ SANAYI TIC A.S</td>
 										<td>1989</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ARI RAFINE VE YAG SANAYI A.S</td>
 										<td>1989</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KIMA KIMYA SANAYI A.S</td>
 										<td>1989</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ROTOPAK MATBAACILIK AMBALAJ SANAYI TIC A.S.</td>
 										<td>1988</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SEKA TURKIYE SELULOZ VE KAGIT FABRIKALARI A.S.</td>
 										<td>1988</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">EMIN KIMYASALLARI</td>
 										<td>1988</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOROZO AMBALAJ SANAYI VE TICARET A.S.</td>
 										<td>1988</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">BAFAY YAG UN GIDA MADDELERI SAN VE TIC A.S.</td>
 										<td>1988</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">GUVEN KIMYA SANAYI VE TICARET A.S.</td>
 										<td>1986</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">CAN SEKERLEME A.S</td>
 										<td>1986</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ALFA GIDA SANAYI TICARET A.S.</td>
 										<td>1986</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">BUZCULAR UN CELTIK YAG VE YEM SANAYI TIC A.S</td>
 										<td>1985</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">ANTALYA YAG SANAYI A.S.</td>
 										<td>1985</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SANCAK MEFRUSAT TEKSTIL LTD STI</td>
 										<td>1985</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">IZIMTAS INSAAT TESISAT SANAYI VE TICARET A.S</td>
 										<td>1985</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOSKA HELVACISI</td>
 										<td>1985</td>
 										<td>0.7</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SUNTASAN ORMAN URUNLERI SANAYI VE TICARET A.S</td>
 										<td>1984</td>
 										<td>1.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SUNTASAN ORMAN URUNLERI SANAYI VE TICARET A.S.</td>
 										<td>1984</td>
 										<td>1.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">GUL CIMENTO SAN VE TIC LTD STI</td>
 										<td>1984</td>
 										<td>1.8</td>
 										<td>Wood Waste</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">VIZOTEKS MENSUCAT SANAYI VE TICARET A.S.</td>
 										<td>1984</td>
 										<td>2.32</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">KOSKA HELVACISI</td>
 										<td>1983</td>
 										<td>0.45</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">HAYRI SIVRIKAYA</td>
 										<td>1982</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">G.ANTEPLI HABES SEYIDOGLU BAKLAVALARI LTD STI</td>
 										<td>1982</td>
 										<td>1.2</td>
 										<td>Fuel Oil</td>
 										<td>Turkey</td>
 									</tr>
 									<tr>
 										<td class="costumers">SUMAS SUNI TAHTA VE MOBILYA A.S</td>
 										<td>1980</td>
 										<td>1.7</td>
 										<td>Natural Gas</td>
 										<td>Turkey</td>
 									</tr>
 								</tbody>
 							</table>
 						</div>
 					</li>
 				</ul>
 			</div>
 		</div>
 	</div>
 	<div class="row">
 		<div class="col s12">
 			<div class="container">
 				<ul class="collapsible" data-collapsible="accordion">
 					<li>
 						<div class="collapsible-header referencesheader white-text blue-grey darken-4"><a href="#!" class="secondary-content"><i class="material-icons"><b>keyboard_arrow_down</b></i></a>SCOTCH TYPE STEAM BOILERS</div>
 						<div class="collapsible-body referencesbody">
 							<table class ="striped responsive-table bordered">
 								<thead>
 									<tr>
 										<th>ORTAS WOOD INDUSTRIES</th>
 										<th class="right">EDREMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">70(M2)</td>
 										<td>10 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">15(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>BOGAZICI TEXTILE</th>
 										<th class="right">CATALCA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">100(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">20(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YIFAS TEXTILE RETAIL COMPANY</th>
 										<th class="right">MALATYA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">80(M2)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>DEAERATOR, SAND FILTERS, COAL PREPARATION SYSTEM</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TRAKYABIRLIK KARACABEY EDIBLE OIL PLANT</th>
 										<th class="right">BURSA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">120(M2)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">20(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STABLE GRATE SYSTEM - SUNFLOWER SHELL FEEDING SYSTEM MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ERKA ERKALIT PLANT</th>
 										<th class="right">ISTANBUL</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">60(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>MAIN FUEL TANKS</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>BLOKSAN BRICK MANUFACTURING PLANT</th>
 										<th class="right">TURGUTLU</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">125(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">20(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td class="left">STOKER FEEDING, MULTICYCLONES, WATER TREATMENT - COMPLETE TREATMENT</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TRAKYABIRLIK CANDIR EDIBLE OIL PLANT</th>
 										<th class="right">YOZGAT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">240(M2)</td>
 										<td>17 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">60(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE</td>
 									</tr>
 									<tr>
 										<td class="right">5ton/h</td>
 										<td>COAL CONVEYING UNIT</td>
 									</tr>
 									<tr>
 										<td class="right">6ton/h</td>
 										<td>COAL CRASHING UNIT</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>KENTAS CHEMICAL INDUSTRIES</th>
 										<th class="right">INEGOL</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">125(M2)</td>
 										<td>8 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">40(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>CETA TERMOT PARTNERSHIP - AKCIMENTO CEMENT PLANT</th>
 										<th class="right">ISTANBUL</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">100(M2)</td>
 										<td>8 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td class="left">AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>CETA TERMOT PARTNERSHIP - AKCIMENTO CEMENT PLANT</th>
 										<th class="right">ISTANBUL</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">100(M2)</td>
 										<td>8 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>DOGUS PIRINA A.S.</th>
 										<th class="right">EDREMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">150(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">40(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>BATIKENT - OLEY IS YAPI KOOPERATIFI</th>
 										<th class="right">ANKARA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">140(M2)</td>
 										<td>8 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">40(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 									<tr>
 										<td class="right">6 ton/h</td>
 										<td>COAL CRASHING UNIT</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>BATIKENT - OLEY IS YAPI KOOPERATIFI</th>
 										<th class="right">ANKARA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">50(M2)</td>
 										<td>8 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">25(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 									<tr>
 										<td class="right">6 ton/h</td>
 										<td>COAL CRASHING UNIT</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>BAFA EDIBLE OIL PLANT</th>
 										<th class="right">ORDU</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">190(M2)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TEKIRDAG TEXTILE PLANT</th>
 										<th class="right">TEKIRDAG</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">120(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>ECONOMIZER, FUEL TANKS, WATER TREATMENT UNIT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TRAKYA EDIBLE OIL PLANT</th>
 										<th class="right">TEKIRDAG</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">60(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>DOGUS PIRINA A.S.</th>
 										<th class="right">EDREMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">150(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">40 M2</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ANTALYA EDIBLE OIL PLANT</th>
 										<th class="right">ANTALYA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">45(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>WATER COOLED STABLE GRATE, FUEL DISTRIBUTING SYSTEM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>BATIKENT - GUZELEVLER YAPI KOOPERATIFI</th>
 										<th class="right">ANKARA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">90(M2)</td>
 										<td>8 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">35(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>PAK NISASTA A.S.</th>
 										<th class="right">ADANA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">300(M2)</td>
 										<td>14 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TRAKYABIRLIK EDIBLE OIL COMPANY - SEREFLI INTEGRATED PLANT</th>
 										<th class="right">TEKIRDAG</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">60(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX (4PCS)</td>
 									</tr>
 									<tr>
 										<td class="right">15(M2)</td>
 										<td>REAR FIRE BOX (4PCS)</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE (4PCS)</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>MULTICYCLONES (4PCS)</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ULFET FOOD INDUSTRIES</th>
 										<th class="right">GAZIANTEP</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">60(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ARI EDIBLE OIL REFINERY PLANTS</th>
 										<th class="right">BALIKESIR</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">35(M2)</td>
 										<td>10 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>CELIKLER FOOD INDUSTRY</th>
 										<th class="right">YOZGAT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">120(M2)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">30(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE, AIR HEATERS, MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ELMAS DRY FOOD INDUSTRIES</th>
 										<th class="right">ISTANBUL</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">70(M2)</td>
 										<td>10 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>SELOLIT LIF LEVHA A.S.</th>
 										<th class="right">MANISA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">40(M2)</td>
 										<td>14 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">20(M2)</td>
 										<td>PANEL TYPE FRONT FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STAPLE GRATE</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>STARWOOD WOOD PRODUCTS</th>
 										<th class="right">INEGOL</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">6 (ton/h)</td>
 										<td>10 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STABLE GRATE COMBUSTION CHAMBER - FRONT AND BACK FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>MULTICYCLONES, WATER TREATMENT - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>MARSA KRAFT JACOBS-SABANCI GIDA SANAYII A.S.</th>
 										<th class="right">ADANA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">7 (ton/h)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>KOMSAS AMBALAJ SANAYII A.S.</th>
 										<th class="right">KARAMAN</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">4(ton/h)</td>
 										<td>16 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>EUROPLAST PLASTIK SANAYII A.S.</th>
 										<th class="right">CERKEZKOY</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">4(ton/h)</td>
 										<td>15 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YASSY JOINT STOCK COMPANY</th>
 										<th class="right">KAZAKHSTAN</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">90(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YASSY JOINT STOCK COMPANY</th>
 										<th class="right">KAZAKHSTAN</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">60(M2)</td>
 										<td>6 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TOPRAK HOLDING LICE EDIBLE OIL PLANT</th>
 										<th class="right">DIYARBAKIR</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">190(M2)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>FUEL-OIL / NATURAL GAS COMBINATION COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TOPRAK HOLDING LICE EDIBLE OIL PLANT</th>
 										<th class="right">DIYARBAKIR</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">220(M2)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>FUEL-OIL / NATURAL GAS AND STABLE GRATE COMBUSTION CHAMBER - FRONT AND BACK FIRE BOX</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>TEVER MDF AND PARTICLE BOARD PLANT</th>
 										<th class="right">CERKEZKOY</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">20(ton/h)</td>
 										<td>14 BAR SCOTCH TYPE COMBINATION STEAM BOILER FOR WOOD WASTE</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM INCLUDING FUEL FEEDING SYSTEMS</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>KANAT AGRO PRODUCTS</th>
 										<th class="right">MALATYA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">140(M2)</td>
 										<td>7 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>HAZELNUT SHELLS AND FUEL OIL COMMISION</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ARI RAFINE ve YAG SANAYII A.S.</th>
 										<th class="right">BALIKESIR</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">12(ton/h)</td>
 										<td>12 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COAL AND SUNFLOWER SHELLS COMBINATION</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ASH WOOD PRODUCTS - LAMINATION PLANT</th>
 										<th class="right">DUZCE</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">7(ton/h)</td>
 										<td>18 BAR FUEL OIL / NATURAL GAS FIRED STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>ASH WOOD PRODUCTS - LAMINATION PLANT</th>
 										<th class="right">DUZCE</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">4(ton/h)</td>
 										<td>16 BAR NATURAL GAS FIRED STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 							</table>		
 						</div>			
 					</li>					
 				</ul>						
 			</div>
 		</div>							
 	</div>
 	<div class="row">
 		<div class="col s12">
 			<div class="container">
 				<ul class="collapsible" data-collapsible="accordion">
 					<li>
 						<div class="collapsible-header referencesheader white-text blue-grey darken-4"><a href="#!" class="secondary-content"><i class="material-icons"><b>keyboard_arrow_down</b></i></a>WATER TUBE STEAM BOILERS</div>
 						<div class="collapsible-body referencesbody">
 							<table class ="striped responsive-table bordered">
 								<thead>
 									<tr>
 										<th>MARSA MARGARINE PLANT</th>
 										<th class="right">ADANA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">25(ton/h)</td>
 										<td>15 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">15(ton/h)</td>
 										<td>15 BAR SCOTCH TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">15(ton/h)</td>
 										<td>DAERATOR</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>PAKSOY YAG SANAYII</th>
 										<th class="right">ADANA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">15(ton/h)</td>
 										<td>15 BAR WATER TUBE STEAM BOILER</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YILDIZ ENTEGRE MDF A.S.</th>
 										<th class="right">IZMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">50(ton/h)</td>
 										<td>38 BAR WATER TUBE SUPERHEATED STEAM BOILER HAS BEEN DISMANTLED, TRANSPORTED, RE-INSTALLED WITH MAJOR MODIFICATIONS INCLUDES THE FOLLOWING:</td>
 									</tr>
 									<tr>
 										<td class="right">50(M2)</td>
 										<td>CAPACITY INCREASE FROM 50TPH TO 75TPH WITH THE ADDITION EXTRA STEAM DRUM</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>THE STEAM QUALITY CHANGED TO SATURATED STEAM @ 16 BAR FROM SUPERHEATED STEAM @ 38 BAR</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE FOR WASTE WOOD</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE FUEL FEEDING SYSTEM, MULTICYCLONE, COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YILDIZ ENTEGRE MDF A.S.</th>
 										<th class="right">IZMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">14(ton/h)</td>
 										<td>14 BAR WATER TUBE SATURATED STEAM BOILER - COMPLETE BOILER ROOM</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>NATURAL GAS AND SANDERDUST COMBINATION FIRING</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YILDIZ SUNTA MDF</th>
 										<th class="right">IZMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">25(ton/h)</td>
 										<td>14 BAR COMBINATION TYPE STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">25(M2)</td>
 										<td>STEPGRATE</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>FULL AUTOMATION CONTROL - WINFLEX SCADA</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>FULL FEEDING SYSTEM, MULTICYCLONE, COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>IMAL SPA - ITALY "ABINSK MDF PLANT"</th>
 										<th class="right">KROSNODAR/RUSSIA</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">14(ton/h)</td>
 										<td>14 BAR SATURATED STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>STEPGRATE COMBUSTION CHAMBER</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>SANDERDUST - 10MW, NATURAL GAS - 10MW, COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 								<thead>
 									<tr>
 										<th>YILDIZ ENTEGRE AGAC SANAYI"</th>
 										<th class="right">IZMIT</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">35(ton/h)</td>
 										<td>14 BAR WOOD WASTE FIRED STEAM BOILER</td>
 									</tr>
 									<tr>
 										<td class="right">46(M2)</td>
 										<td>STEPGRATE</td>
 									</tr>
 									<tr>
 										<td></td>
 										<td>COMPLETE BOILER ROOM, BAG FILTER @ BOILER OUTLET</td>
 									</tr>
 								</tbody>
 							</table>		
 						</div>			
 					</li>					
 				</ul>						
 			</div>
 		</div>							
 	</div>
 	<div class="row">
 		<div class="col s12">
 			<div class="container">
 				<ul class="collapsible" data-collapsible="accordion">
 					<li>
 						<div class="collapsible-header referencesheader white-text blue-grey darken-4"><a href="#!" class="secondary-content"><i class="material-icons"><b>keyboard_arrow_down</b></i></a>FLUIDIZED BED STEAM BOILER</div>
 						<div class="collapsible-body referencesbody">
 							<table class ="striped responsive-table bordered">
 								<thead>
 									<tr>
 										<th>TURYAG - BALIKESIR YAG FABRIKASI</th>
 										<th class="right">BALIKESIR</th>
 									</tr>
 								</thead>
 								<tbody>
 									<tr>
 										<td class="right">2 X 10(ton/h)</td>
 										<td>FLUIDIZED BED STEAM BOILER - COMPLETE BOILER ROOM</td>
 									</tr>
 								</tbody>
 							</table>		
 						</div>			
 					</li>					
 				</ul>						
 			</div>
 		</div>							
 	</div>  								
</div>

								
