<div class="container">
    <div class="row">
        <div class="col l9">
            <h3>Şartlar ve Koşullar</h3>

            <div class="divider"></div>

            <h5>Genel Koşullar</h5>
            <p>BERSEY LTD. ŞTİ., internet üzerinde kapsamlı gizlilik korumasının gerekliliğinin farkındadır. Bu beyan ile, web sitemize eriştiğinizde (bundan sonra "bilgi" olarak anılacaktır) sizden aldığımız bilgi ve verileri nasıl kullanacağımızı size aktarmak istiyoruz.</p>
                
            <div class="divider"></div>

            <h5>Gizlilik</h5>
            <p>Sizden veya hakkınızda aldığımız bilgiler kesinlikle Kişisel Verilerin Korunması Kanunu'na uygun şekilde ele alınacaktır. Bu bilgiler, hizmetlerimizi ihtiyaçlarınıza göre özelleştirmemizi ve geliştirmemizi sağlar. Web sitemizi ziyaret ettiğinizde aşağıdaki bilgileri toplayabiliriz ve saklayabiliriz:

            <h6>1. Verdiğiniz bilgiler</h6> 
            <p>Bu, websitemizi kullanırken verdiğiniz tüm bilgileri içerir.</p>
            <h6>2.  E-Mail adresleri</h6>
            <p> Topladığımız, sakladığımız ve kullandığımız e-posta adresleri size birçok türde bilgi göndermek için kullanılabilir (örneğin, teknik gelişmeler, satış, satış koşulları, reklam malzemeleri). Bunu kabul etmiyorsanız, lütfen bize "info@berseykazan.com" adresinden ulaşın:</p>
            <h6>3. Otomatik olarak topladığımız veriler</h6> 
            <p>Web sitemizi her ziyaret ettiğinizde, sakladığımız bilgileri otomatik olarak yükleriz. Bu çerezlerin yanı sıra web tarayıcınızla ilgili diğer veriler için de geçerlidir. Bilgilerin otomatik olarak toplanması ve depolanması yoluyla web sitemizin kullanıcı gruplarını analiz etmek veya belirli kullanıcıları tanımlamak için ek teknolojiler kullanma hakkımız saklıdır.</p>

            <div class="divider"></div>

            <h5>Çerezler</h5>
            <p>Çerezler, bir kullanıcının geçmişte web sitemizi ziyaret edip etmediğini bilmemizi sağlayan teknik bir yöntemdir. Çoğu tarayıcı size çerezlerin nasıl değiştirilebileceği, tanımlanabileceği veya kapatılabileceği hakkında bilgi verir. Çerezlerinizi silmeyi seçerseniz, bu, bir sonraki ziyaretinizde web sitemizin kullanım kolaylığını sınırlayabilir.</p>

            <div class="divider"></div>

            <h5>Sizden aldığımız bilgilerin kullanımı</h5>
            <p>Bize sağladığınız bilgileri hiçbir şekilde üçüncü şahıslar ile izininiz olmadan paylaşmayacağız. Hizmetlerimizi sizin için optimize edebilmemiz için, gerektiği şartlarda, sizden elde edilen bilgileri, kısmen veya bütünüyle, internet'teki hizmetlerimizi destekleyen şirketler ile paylaşma hakkımızı saklı tutarız - kanunlar gerektirdiği takdirde - kamu kuruluşları da bu kapsamdadır.</p>

            <div class="divider"></div>
            
            <h5>Verilere ulaşım</h5>
            <p>Sizinle ve web sitemizi ziyaretinizle ilgili hangi bilgileri sakladığımızı bilmek isterseniz, lütfen bize "info@berseykazan.com" adresinden ulaşın:</p>

            <div class="divider"></div>
            <br>
            <p>Bilgilerin işlenmesi ve kullanılması ile ilgili değişiklik yapma hakkımız saklıdır. Ancak, önceden izin almadan kişisel bilgilerinizi (adınız ve adresiniz gibi) kesinlikle paylaşmayacağız.</p>

            <div class="divider"></div>
            <br>
            <p>Daha fazla bilgi için, lütfen bizle irtibata geçin:</p>
            <b><p>BERSEY SINAI ve TIBBI CIHAZLAR IMALAT ve TIC. LTD. STI.</p>
                <p>Söğütlüçeşme Mah. Halkalı Cad. No:257 Bina:4 Sefaköy, 34295</p>
                <p>T: +90 212 693 74 74</p>
                <p>F: +90 212 495 48 50</p>
                <p>info@berseykazan.com</p>
        </div>
    </div>
</div>

