<div class="image-container valign-wrapper">
  <div class="container ">
    <div class="row">
      <div class="col s12">
        <div class="collection" id="collection-products">
          <a href="./urunler/skoc" class="collection-item"><span class="badge"><i class="material-icons secondary-content">chevron_right</i></span>SICAK SU VE BUHAR KAZANI </a>
          <br>
          <a href="./urunler/termal" class="collection-item"><span class="badge"><i class="material-icons secondary-content">chevron_right</i></span>KIZGIN YAĞ KAZANI</a>
          <br>
        </div>
      </div> 
    </div>    
  </div>
</div>      




