
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
}

/*=============================================================================================================*/
                              /*INTRO ANIMATION*/                           
/*==============================================================================================================*/

.welcome-container {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.welcome-container.hidden{
  display: none;
}

.welcome-layout{
  position: relative;
  display: inline-block;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -50%);
}

.welcome-layout > ul{
  margin-left: 0px;
  margin-bottom: 0px;
}

.welcome-text{
  list-style: none;
  position: relative; 
}
.welcome-text-sub{
  list-style: none;
  position: absolute;
  text-align: center;
  width:100%;
  bottom:-82%;
}
.welcome-text li {
  margin-right: 5px;
  display: inline-block;
  color: #0099ff;
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 4em;
  font-weight: normal;
  opacity: 1;
  transition: all 3s ease;
  line-height: 56px;
}
.welcome-text-sub li{
  display: inline-block;
  color: #000;
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  opacity: 1;
}

.welcome-text-sub li:nth-child(1){
  transition: all 2s ease;
}

.welcome-text-sub li:nth-child(2){
  transition: all 2s ease;  
}

.welcome-text li:last-child{
  margin-right: 0;
}

.welcome-text-sub li:last-child{
  margin-right: 0;
}

.welcome-text.hidden li{
  opacity: 0;
}

.welcome-text-sub.hidden li{
  opacity: 0;
}

.welcome-text.hidden li:nth-child(1){
  transform: translateX(-200px) translateY(-200px);
}
.welcome-text.hidden li:nth-child(2){
  transform: translateX(20px) translateY(100px);
}
.welcome-text.hidden li:nth-child(3){
  transform: translateX(-150px) translateY(-60px);
}
.welcome-text.hidden li:nth-child(4){
  transform: translateX(10px) translateY(-200px);
}
.welcome-text.hidden li:nth-child(5){
  transform: translateX(-300px) translateY(200px);
}
.welcome-text.hidden li:nth-child(6){
  transform: translateX(-30px) translateY(200px);
}

#line {
  width: 300px;
  overflow: visible;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#line path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

anav ul a,
nav .brand-logo {
  color: #444;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*=============================================================================================================*/
                              /*SLIDER IMAGES*/                           
/*==============================================================================================================*/

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;
  margin: 0 auto;
}
.slider .indicators {
  bottom: 60px;
  z-index: 1;
  /* text-align: left; */
}

#slide1{
  filter:brightness(60%);
}
#slide2{
  filter:brightness(60%);
}
#slide3{
  filter:brightness(50%);
}
#slide4{
  filter:brightness(50%);
}
#fire-img{
  filter:brightness(70%); 
}
/*=============================================================================================================*/
                              /*MAIN PAGE*/                           
/*==============================================================================================================*/

#logo{
  width: 114px;
  height: auto;
  display: none;
  margin-top: 9px;
  margin-left: 9px;
}
@media only screen and (max-width: 480px) {
#logo{
  width: 96px;
  height: auto;
  display: none;
  margin-top: 9px;
  margin-left: 9px;
}
}
body footer.page-footer{
  padding-top: 5px;
  padding-bottom: 5px;
}
.button-collapse >i{
  color: #000;
}
#about-us{
  letter-spacing: 2px;
  font-size: 24px;
}
p {
  line-height: 2rem;
}
/*=============================================================================================================*/
                              /*****NAV BAR********/                           
/*==============================================================================================================*/

body #sidenav-overlay{
  z-index:1;
}

body .navbar-fixed {
  height: 48px;
}

body .side-nav a{
  font-weight: 600;
}

#navbar{
  display: none;
}

/*=============================================================================================================*/
                              /*****CONTACT FORM********/                           
/*==============================================================================================================*/

#form{
margin-top: 5%;
background-color: #fff; 
}

#form-heading{
margin: 50px;
}

#contact-submit{
  background-color: #263238;
}

#confirm{
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-top: 30px;
}

#form-layout{
  height: 100vh;
}

/*=============================================================================================================*/
                              /*****GOOGLE MAPS********/                           
/*==============================================================================================================*/

#map{
  height: 95vh;
  width: auto;
}

/*=============================================================================================================*/
                              /*****REFERENCES********/                           
/*==============================================================================================================*/
#references-container{
  height: 100vh;
  width: 100vw;
}
#references-container::before{
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background:url(/images/references.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
  overflow: scroll;
}
#references-container{
  overflow: scroll;
}
 div.referencesbody > table.striped > tbody > tr > td.costumers{
  text-align: left;
}
.referencesheader{
  font-weight: 300;
}
/*=============================================================================================================*/
                              /*****PRODUCTS********/                           
/*==============================================================================================================*/
#products-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
}
#products-container::before{
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background:url(/images/products-alt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
  overflow: scroll;
}
.relative-align{
  position: relative;
}
/*=============================================================================================================*/
                              /*****SCOTCH TYPE BOILERS********/                           
/*==============================================================================================================*/
 .thermal-list{
  list-style-type: disc !important;
  margin-top: 10px; 
 }
 #scotch-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
 }
/*=============================================================================================================*/
                              /*****CAREERS********/                           
/*==============================================================================================================*/
#career{
  position: relative;
  font-weight: 500;
}

#career::before{
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background:url(/images/career.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

/*=============================================================================================================*/
                              /*****TERMS AND LEGAL********/                           
/*==============================================================================================================*/



/*=============================================================================================================*/
                              /*****FOOTER********/                           
/*==============================================================================================================*/

.footer{
  background-color: #000;
  height: 10%;
}

#linkedin{
  width:15%;
  height:auto;
}



