<div class="container">
    <div class="row">
        <div class="col l9">
            <h3>Terms and Conditions</h3>

            <div class="divider"></div>

            <h5>General</h5>
            <p>BERSEY is aware of the necessity for comprehensive privacy protection on the Internet. With this declaration, we seek to inform you how we deal with information and data that we receive from you when you access our website (hereafter referred to as "information").</p>
                
            <div class="divider"></div>

            <h5>Privacy</h5>
            <p>Information that we receive from you or about you will be handled in a strictly confidential manner. This information enables us to customise and improve our services in accordance with your needs. When you visit our website, we collect and save the following information:
            <h6>1. Information you provide</h6> 
            <p>This includes all information that you provide while using our website.</p>
            <h6>2.  E-Mail addresses</h6>
            <p> E-Mail addresses that we collect, store and use are utilised to send you information of many sorts (for example, technical developments, sales, sales conditions, advertising material). If you do not agree to this, please notify us here: info@berseykazan.com</p>
            <h6>3. Data that we automatically receive</h6> 
            <p>Whenever you visit our website, we automatically receive information that we store. This particularly applies to cookies as well as other data about your web browser. We retain the right to use additional technologies to analyse our website's user groups via the automatic collection and storage of information, or to identify specific users.</p>

            <div class="divider"></div>

            <h5>Cookies</h5>
            <p>Cookies are a technical method that allows us to know whether a user has visited our website in the past. Most browsers inform you about cookies, how to deal with them, and how they can be changed, identified or turned off. If you choose to delete your cookies, this could limit the user-friendliness of our website during your next visit.</p>

            <div class="divider"></div>

            <h5>Use of information we receive from you</h5>
            <p>We will not pass on information that you provide to us to third parties by any means. In order for us to optimise our services for you, we nonetheless retain the right to disseminate information obtained from you in any way, partially or in its entirety, to companies that support our services on the Internet, and - insofar as we are required to by law - to other institutions (such as public agencies or courts).</p>

            <div class="divider"></div>
            
            <h5>Access to data and unsubscription</h5>
            <p>If you would like to know what information we have stored about you and your visit to our website, please contact us at info@berseykazan.com</p>

            <div class="divider"></div>
            <br>
            <p>We retain the right to change our handling and use of information. However, we will not distribute your personal information (such as your name and address) without prior authorisation.</p>

            <div class="divider"></div>
            <br>
            <p>For further information, please contact:</p>
            <b><p>BERSEY SINAI ve TIBBI CIHAZLAR IMALAT ve TIC. LTD. STI.</p>
                <p>Söğütlüçeşme Mah. Halkalı Cad. No:257 Bina:4 Sefaköy, 34295</p>
                <p>T: +90 212 693 74 74</p>
                <p>F: +90 212 495 48 50</p>
                <p>info@berseykazan.com</p>
        </div>
    </div>
</div>

