<div class="row relative-align">
	<div class="container">
		<div class="col s12 m6">
			<div class="card-panel teal white">
				<h5 class="black-text">SICAK SU VE BUHAR KAZANI</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">En güncel Uluslararası Çevre Mevzuatlarına uyabilmek için yeterli ocak hacmi, yanma süreleri ve hızları dikkate alınarak yeniden dizayn ettiğimiz sıcak su ve buhar kazanlarımız: Fuel-Oil, Doğalgaz, Kömür, Ağaç artıkları ve Biokütle yakıtlı olarak kategorilendirilmiştir.</p>
				<br>
				<p class="black-text justify-align">Sıcak su ve buhar kazanlarımıza: Bürülörlü, Stokerli, Sabit Menzilli Izgaralı, İleri İtmeli Hareketli Izgaralı, Akışkan Yataklı, Toz Bürülörlü yakma sistemleri uygulanabilmektedir.</p>
				<br>
				<p class="black-text justify-align">Alev-Duman borulu, Ön ocaklı Alev-Duman borulu ve Su borulu kazan olmak üzere farklı dizayn seçeneklerimiz mevcuttur.</p>
				<br>
				<p class="black-text justify-align">Atık ısı kazanı, kızgın yağ ısıtmalı buhar jenaratörü ve buhar ısıtmalı sıcak su eşanjörleri diğer ürün seçeneklerimiz arasındadır.</p>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel teal white"> 
				<h5 class="black-text">SKOÇ TİPİ BUHAR KAZANLARIMIZ</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<img class="responsive-img" src="/images/skoc/skoc1.jpg">
				<img class="responsive-img" src="/images/skoc/skoc2.jpg">
			</div>
		</div>
	</div>
</div>
