<div class="row relative-align">
	<div class="container">
		<div class="col s12 m6">
			<div class="card-panel teal white">
				<h5 class="black-text">KIZGIN YAĞ KAZANI</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">Kızgın yağ kazanları, atmosferik basınçta 300-320°C sıcaklıkta çalışma avantajına sahip olmasıyla ile birlikte, yanlış dizayn edilmesi durumunda Termik Yağın fiziksel özellikleri sebebiyle önemli riskler taşımaktadır.</p>
				<br>
				<p class="black-text justify-align">Belçika Wanson firması ile başlayan kızgın yağ bilgi ve tecrübemiz Metro ile olan çalışmalarımız ile en üst seviyeye cıkmıştır.</p>
				<br>
				<p class="black-text justify-align">Çevre şartları için ihtiyaç duyulan ocak hacmi, yanma süresi ve yanma hızı sağlayan dizaynlarımızın öne çıkan elemanları:
				</p>
				<ul class="black-text justify-left">
					<li class="thermal-list">Serpantir içindeki yağ hızları ve kontrol mekanizması</li>
					<li class="thermal-list">Serpantir ile temas eden gaz sıcaklıkları ve resirkülasyon sistemi</li>
					<li class="thermal-list">Termik yağın parlama sıcaklığının düşmesine sebep olan yağ türevlerinin distilasyonunu sağlayan iyileştirme sistemi</li>
					<li class="thermal-list">Termik yağ içinde mevcut veya zaman ile oluşan katı partikülleri filitreleme sistemi</li>
				</ul>
				<br>
				<p class="black-text justify-align">Bu sistemlerin uygun dizaynı sayesinde yüksek randıman, çevre şartlarına uygun yanma ve filtrasyon, kesintisiz ve uzun süre çalışma imkanı sağlayarak, 40 yılı aşkın bir süredir müşterilerimizin ihtiyaçlarına cevap vermekteyiz.
				</p>
				<br>
				<img class="responsive-img" src="/images/kizgin/kizgin_1.jpg">
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel teal white"> 
				<h5 class="black-text">KIZGIN YAĞ KAZANLARIMIZ</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">Fuel-Oil, Doğalgaz, Kömür, Ağaç atıkları, Biokütle yakıtlı olarak sınıflandırdığımız kazanlarımıza:</p>
				<ul class="black-text justify-left">
					<li class="thermal-list">Brülörlü</li>
					<li class="thermal-list">Stokerli</li>
					<li class="thermal-list">İleri itmeli hareketli ızgaralı</li>
					<li class="thermal-list">Toz Brülörlü yakma sistemlerimi uygulanabilmektedir.</li>
				</ul>
				<br>
				<p class="black-text justify-align">Farklı dizayn seçeneklerimiz arasında:
				</p>
				<ul class="black-text justify-left">
					<li class="thermal-list">Sipiral sarımlı dik iç içe iki serpantinli kazan</li>
					<li class="thermal-list">Sipiral sarımlı dik tek serpantinli radyasyon kazanı ve firkete serpantinli konveksiyon kazanı</li>
					<li class="thermal-list">Refrakterli üst yanma ocağı, sipiral sarımlı dik tek serpantinli radyasyon kazanı ve firkete serpantinli konveksiyon kazanı bulunmaktadır.</li>
				</ul>
				<br>
				<img class="responsive-img" src="/images/kizgin/kizgin_2.jpg">
			</div>
		</div>
	</div>
</div>
