<div class="row relative-align">
	<div class="container">
		<div class="col s12 m6">
			<div class="card-panel teal white">
				<h5 class="black-text">ГОРЯЧАЯ ВОДА И ПАРОВОЙ КОТЛ</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">Для производства горячей воды, перегретой воды и пара котлы шотландского типа, работающие на масле, газе и их комбинации, находятся в пределах нашего производственного потенциала с высокоэффективной трехпроходной конструкцией, различной производительностью и номинальным давлением.</p>
				<br>
				<p class="black-text justify-align">Котлы Bersey шотландского типа производятся в соответствии с действующим кодексом и стандартами и соответствуют потребностям наших клиентов. До начала производства предлагаемые котлы моделируются и моделируются в компьютерной среде. Различные параметрические значения для термодинамических и прочностных расчетов используются с нагрузками в реальном времени для достижения более эффективной конструкции.</p>
				<br>
				<p class="black-text justify-align">Котлы шотландского типа производятся в диапазоне значений 100 кг / час - 18000 кг / час и 0,5 бар - 18 бар для давления перегретого пара и / или для эквивалентных значений производительности при производстве горячей воды в зависимости от требований клиентов.</p>
				<br>
				<p class="black-text justify-align">Комбинация питателя, поршневых движущихся решеток и наклонных фиксированных решеток позволяет сжигать уголь и различные виды топлива из биомассы, такие как оболочки подсолнечника, оболочки хлопковых семян, ядра оливок, ядра абрикосов, древесина и древесные отходы.</p>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel teal white"> 
				<h5 class="black-text">СТАЛЬНЫЕ ТИПОВЫЕ КОТЛЫ</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<img class="responsive-img" src="/images/skoc/skoc1.jpg">
				<img class="responsive-img" src="/images/skoc/skoc2.jpg">
			</div>
		</div>
	</div>
</div>
