<div class="row relative-align">
	<div class="container">
		<div class="col s12 m6">
			<div class="card-panel teal white">
				<h5 class="black-text">ТЕПЛОВЫЕ НЕФТЯНЫЕ КОТЛЫ</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">Во многих различных промышленных процессах, где производство осуществляется с теплообменом при высоких температурах, традиционных методов, таких как паровые котлы с перегретой водой и паром, может быть достаточно для удовлетворения требований процесса. Однако использование воды и пара обычно подразумевает высокие эксплуатационные расходы, затраты на техническое обслуживание и требования к мониторингу системы из-за предварительной обработки технологической воды.</p>
				<br>
				<p class="black-text justify-align">Применение термомасла является альтернативным и экономически эффективным решением для достижения повышенных температур при низких рабочих давлениях для нескольких тепловых приемников в процессе.</p>
				<br>
				<h6 class="black-text">ПРЕИМУЩЕСТВА ТЕПЛОВЫХ НЕФТЯНЫХ КОТЛОВ</h6>
				<div class="divider blue-grey darken-4"></div>
				<ul class="black-text">
					<li class="thermal-list">Высокая температура с атмосферным давлением</li>
					<li class="thermal-list"><b>Приложения вторичной цепи позволяют:</b></li>
					<li class="thermal-list">Точный контроль температуры в системе</li>
					<li class="thermal-list">Различные рабочие температуры для нескольких пользователей тепла</li>
					<li class="thermal-list">Нет проблем с конденсатом</li>
					<li class="thermal-list">Нет проблем с коррозией</li>
					<li class="thermal-list">Тепловыделение в одной точке для нескольких устройств</li>
				</ul>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel teal white"> 
				<h5 class="black-text">НАШИ ТЕПЛОВЫЕ НЕФТЯНЫЕ КОТЛЫ</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<img class="responsive-img" src="/images/kizgin/kizgin_1.jpg">
				<img class="responsive-img" src="/images/kizgin/kizgin_2.jpg">
			</div>
		</div>
	</div>
</div>