<div class="row relative-align">
	<div class="container">
		<div class="col s12 m6">
			<div class="card-panel teal white">
				<h5 class="black-text">3 PASS SCOTCH TYPE BOILERS</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">For the production of hot water, superheated water and steam, scotch type boilers fired with oil, gas and a combination of both, are within our manufacturing capability with high efficient 3 pass design, various production capacity and pressure ratings.</p>
				<p class="black-text justify-align">Bersey scotch type boilers are produced according to the relevant code and standards and are tailored to our clients' needs. Prior to the commencement of manufacture, the proposed boilers are modeled and simulated in computer environment. Various parametric values for thermodynamic and strength calculations are used with real time loads in order to achieve a more efficient design.</p>
				<p class="black-text justify-align">Scotch type boilers are manufactured within the range of 100 kg/h - 18000 kg/h and 0.5 bar - 18 bar pressure ratings for superheated steam and/or for equivalent capacity values in hotwater production depending on clients' requirements.</p>
				<p class="black-text justify-align">Stoker feeding, reciprocating moving grate and inclined fixed grate combinations allow firing coal and various biomass fuels such as sunflower hulls, cottonseed hulls, olive kernels, apricot kernels, wood and wood wastes.</p>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel teal white"> 
				<h5 class="black-text">SCOTCH TYPE BOILERS</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<img class="responsive-img" src="/images/factory.jpg">
				<img class="responsive-img" src="/images/factory.jpg">
			</div>
		</div>
	</div>
</div>
