<div class="row relative-align">
	<div class="container">
		<div class="col s12 m6">
			<div class="card-panel teal white">
				<h5 class="black-text">WHY WATERPIPE HEATERS ?</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<p class="black-text justify-align">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<p class="black-text justify-align">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<h5 class="black-text">ADVANTAGES OF WATERPIPE HEATERS</h5>
				<ul class="black-text">
					<li class="thermal-list">Lorem Ipsum is simply dummy text of the printing and</li>
					<li class="thermal-list"><b>Lorem Ipsum is simply dummy text of the printing and</b></li>
					<li class="thermal-list">Lorem Ipsum is simply dummy text of the printing and</li>
					<li class="thermal-list">Lorem Ipsum is simply dummy text of the printing and</li>
					<li class="thermal-list">Lorem Ipsum is simply dummy text of the printing and</li>
					<li class="thermal-list">Lorem Ipsum is simply dummy text of the printing and</li>
					<li class="thermal-list">Lorem Ipsum is simply dummy text of the printing and</li>
				</ul>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel teal white"> 
				<h5 class="black-text">WATERPIPE HEATERS</h5>
				<div class="divider blue-grey darken-4"></div>
				<br>
				<img class="responsive-img" src="/images/factory.jpg">
				<img class="responsive-img" src="/images/factory.jpg">
			</div>
		</div>
	</div>
</div>